main.acerca-de-ermitanos{
	padding-top: 95px;
	padding-bottom: 115px;
	
	.contenido{
		width: 100%;
		min-width: 780px;
		max-width: 780px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		
		&:first-child{
			margin-bottom: 185px;
			
			.imagen{
				padding-top: 25px;
			}
		}
		
		&:nth-child(3){
			margin-bottom: 90px;
		}
		
		.texto{
			max-width: 342px;
			
			h1, h2{
				font-family: "Open Sans", sans-serif;
				font-size: 20px;
				color: color('grey', 'gris-1');
				margin: 0 0 25px 0;
			}
			
			p{
				font-family: "Open Sans", sans-serif;
				font-size: 10px;
				color: color('grey', 'gris-1');
				line-height: 20px;
				text-align: justify;
				margin: 0 0 25px 0;
				
				b{
					font-weight: bold;
					color: color('shades', 'black');
				}
			}
		}
		
		.separador{
			height: 1px;
			background-color: color('grey', 'gris-1');
			display: block;
			margin-bottom: 50px;
			width: 100%;
		}
	}
	
	&.creditos-webdoc{
		.contenido{
			max-width: 630px;
			min-width: 630px;
			
			&:first-child{
				margin-bottom: 0;
				
				.imagen{
					padding-top: 0;
				}
			}
			
			.imagen{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				
				.personaje{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					
					p{
						font-family: "Open Sans", sans-serif;
						font-size: 10px;
						color: color('grey', 'gris-1');
						line-height: 20px;
						text-align: justify;
						margin: 12px 0 22px 0;
					}
				}
			}
		}
	}
	
	&.creditos-pelicula{
		.contenido{
			margin-bottom: 0;
			
			.imagen{
				padding-top: 0;
				width: 342px;
				
				img{
					margin-bottom: 10px;
				}
			}
		}
	}
}

body.acerca-de-ermitanos{
	header{
		position: fixed;
	}
	
	footer{
		position: relative;
	}
}
