body.anuncio{
	main.anuncio{
		min-height: 768px;
		min-width: 1024px;
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
