body.chat{
	background: url(../imagenes/chat/fondo.jpg) no-repeat fixed center;
	background-size: cover;
	height: calc(100% - 102px);
	position: relative;
	
	&.activo{
		overflow: hidden;
	}
	
	&:before{
		height: calc(100% - 102px);
		content: '';
		display: block;
		width: 100%;
		position: fixed;
		background : rgba(48, 46, 43, 1);
		opacity : 0.43;
		top: 0;
		left: 0;
		z-index: -1;
		filter: alpha(opacity=43) progid:DXImageTransform.Microsoft.Alpha(opacity=43) ;
	}
	
	header{
		position: fixed;
	}
	
	footer{
		padding-top: 40px;
		background-color: color('shades', 'white');
	}
	
	main.chat{
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		height: auto;
		padding-bottom: 150px;
		
		.modal{
			text-align: center;
			
			p{
				font-size: 16px;
			}
			
			a{
				margin-left: 0 !important;
				width: auto !important;
			}
		}
		
		.chat{
			width: 440px;
			padding-top: 45px;
			padding-bottom: 50px;
			
			.mensaje{
				opacity: 0;
				display: flex;
				align-items: flex-start;
				animation-name: animacionMensaje;
				animation-duration: 0.5s;
				animation-fill-mode: both;
				margin-bottom: 20px;
				
				.icono{
					height: 50px;
					width: 50px;
					background-color: color('shades', 'white');
					border-radius: 5px;
				}
				
				.texto{
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					min-height: 150px;
					height: auto;
					border-left: 1px solid white;
					padding-left: 19px;
					margin-left: 19px;
					width: calc(100% - 70px);
					
					p{
						font-family: "Open Sans", sans-serif;
						font-size: 15px;
						line-height: 18px;
						color: color('shades', 'white');
					}
					
					.informacion{
						border-bottom: 1px solid color('shades', 'white');
						width: 100%;
						
						p{
							margin-top: 0;
							margin-bottom: 20px;
						}
					}
					
					.mensaje-texto{
						p{
							margin-top: 20px;
							
							img{
								max-width: 100%;
								border-radius: 5px;
							}
							
							&.imagen-pie{
								background-color: color('shades', 'white');
								border-radius: 5px;
								text-align: center;
								color: color('grey', 'gris-1');
								
								span{
									padding: 15px 10px;
									display: inline-flex;
									
									a{
										height: 31px;
										width: 117px;
										border-radius: 5px;
										background-color: color('grey', 'gris-1');
										color: color('shades', 'white');
										padding: 0;
									}
								}
							}
							
							&.enlace{
								a{
									display: flex;
									align-items: center;
									background-color: color('shades', 'white');
									border-radius: 5px;
									font-size: 10px;
									font-family: "Open Sans", sans-serif;
									color: color('grey', 'gris-1');
									line-height: 12px;
									padding: 20px;
									
									img{
										display: block;
										margin-right: 20px;
									}
								}
							}
						}
					}
				}
			}
			
			@keyframes animacionMensaje {
				0%      { transform: translateY(50px);    opacity: 0; }
				100%    { transform: translateY(0);       opacity: 1; }
			}
		}
		
		.cargando-mensaje{
			position: fixed;
			bottom: 103px;
			right: 15px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s ease-in;
			
			&.active{
				opacity: 1;
				visibility: visible;
			}
			
			p{
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				color: color('shades', 'white');
			}
		}
		
		.galeria{
			position: absolute;
			bottom: 100vh;
			left: 0;
			height: 100vh;
			width: 100%;
			background-color: color('shades', 'white');
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			visibility: hidden;
			opacity: 0;
			transition: bottom 0.5s;
			
			&.activo{
				bottom: 0;
				visibility: visible;
				opacity: 1;
			}
			
			.btn{
				position: absolute;
				top: 45px;
				left: 75px;
			}
			
			.contenido{
				height: 554px;
				width: 675px;
				background: url(../imagenes/chat/fondo-galeria.jpg) no-repeat center;
				background-size: contain;
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: repeat(8, 1fr);
				grid-column-gap: 15px;
				grid-row-gap: 13px;
				
				a{
					display: block;
					
					&:nth-child(1){
						grid-column: 3 / 4;
					}
					
					&:nth-child(3){
						grid-column: 2 / 3;
						grid-row: 2 / 3;
					}
					
					&:nth-child(4){
						grid-column: 3 / 4;
						grid-row: 2 / 3;
					}
					
					&:nth-child(5){
						grid-column: 4 / 5;
						grid-row: 2 / 3;
					}
					
					&:nth-child(6){
						grid-column: 5 / 6;
						grid-row: 2 / 3;
					}
					
					&:nth-child(7){
						grid-column: 1 / 2;
						grid-row: 3 / 4;
					}
					
					&:nth-child(8){
						grid-column: 2 / 3;
						grid-row: 3 / 4;
					}
					
					&:nth-child(9){
						grid-column: 3 / 4;
						grid-row: 3 / 4;
					}
					
					&:nth-child(10){
						grid-column: 4 / 5;
						grid-row: 3 / 4;
					}
					
					&:nth-child(11){
						grid-column: 5 / 6;
						grid-row: 3 / 4;
					}
					
					&:nth-child(12){
						grid-column: 6 / 7;
						grid-row: 3 / 4;
					}
					
					&:nth-child(13){
						grid-column: 1 / 2;
						grid-row: 4 / 5;
					}
					
					&:nth-child(14){
						grid-column: 2 / 3;
						grid-row: 4 / 5;
					}
					
					&:nth-child(33){
						grid-column: 3 / 5;
						grid-row: 4 / 6;
					}
					
					&:nth-child(15){
						grid-column: 5 / 6;
						grid-row: 4 / 5;
					}
					
					&:nth-child(16){
						grid-column: 6 / 7;
						grid-row: 4 / 5;
					}
					
					&:nth-child(17){
						grid-column: 1 / 2;
						grid-row: 5 / 6;
					}
					
					&:nth-child(18){
						grid-column: 2 / 3;
						grid-row: 5 / 6;
					}
					
					&:nth-child(19){
						grid-column: 5 / 6;
						grid-row: 5 / 6;
					}
					
					&:nth-child(20){
						grid-column: 6 / 7;
						grid-row: 5 / 6;
					}
					
					&:nth-child(21){
						grid-column: 1 / 2;
						grid-row: 6 / 7;
					}
					
					&:nth-child(22){
						grid-column: 2 / 3;
						grid-row: 6 / 7;
					}
					
					&:nth-child(23){
						grid-column: 3 / 4;
						grid-row: 6 / 7;
					}
					
					&:nth-child(24){
						grid-column: 4 / 5;
						grid-row: 6 / 7;
					}
					
					&:nth-child(25){
						grid-column: 5 / 6;
						grid-row: 6 / 7;
					}
					
					&:nth-child(26){
						grid-column: 6 / 7;
						grid-row: 6 / 7;
					}
					
					&:nth-child(27){
						grid-column: 2 / 3;
						grid-row: 8 / 9;
					}
					
					&:nth-child(28){
						grid-column: 3 / 4;
						grid-row: 8 / 9;
					}
					
					&:nth-child(29){
						grid-column: 4 / 5;
						grid-row: 8 / 9;
					}
					
					&:nth-child(30){
						grid-column: 5 / 6;
						grid-row: 8 / 9;
					}
					
					&:nth-child(31){
						grid-column: 3 / 4;
						grid-row: 9 / 10;
					}
					
					&:nth-child(32){
						grid-column: 4 / 5;
						grid-row: 9 / 10;
					}
					
					img{
						display: block;
						max-width: 100%;
					}
				}
			}
		}
	}
}
