body.descansar{
	overflow: hidden;
	
	main.descansar{
		overflow: hidden;
		
		.animacion{
			width: 100vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			
			svg{
				min-height: 100%;
				min-width: 100%;
				width: auto;
				height: auto;
			}
			
			.puerta{
				height: 65%;
				top: 2%;
				width: 19%;
				left: 8%;
				position: absolute;
				z-index: 9;
				cursor: pointer;
			}
			
			.celular{
				width: 5%;
				height: 26%;
				left: 53%;
				top: 38%;
				position: absolute;
				z-index: 9;
				transform: rotate(-12deg);
				cursor: pointer;
			}
			
			.bano{
				width: 19%;
				height: 60%;
				right: 6%;
				top: 5%;
				position: absolute;
				z-index: 9;
				cursor: pointer;
			}
			
			.gato{
				width: 30%;
				height: 30%;
				right: 10%;
				bottom: 5%;
				position: absolute;
				z-index: 9;
				cursor: pointer;
				transform: rotate(-15deg);
			}
			
			
		}
	}
}
