body.elevador{
	header{
		opacity: 0;
		animation-name: animacionHeader;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
	}
	
	footer{
		opacity: 0;
		animation-name: animacionFooter;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
		z-index: 3;
	}
	
	main.elevador{
		.section{
			&.plantaBaja{
				padding-top: 0;
				
				.fp-tableCell{
					padding-bottom: 80px;
				}
				
				.menu-principal{
					display: flex;
					align-items: flex-end;
					justify-content: center;
					min-width: 1024px;
					opacity: 0;
					transform: translateY(100px);
					animation-name: animacionEntrada;
					animation-delay: 0.5s;
					animation-duration: 1s;
					animation-timing-function: ease-in;
					animation-fill-mode: both;
					
					.puerta{
						width: 265px;
						height: 530px;
						background: color('shades', 'white') url(../imagenes/elevador/puerta.svg);
						transform-style : preserve-3d;
						transition : transform 3s ease;
						transform-origin: right;
						transform : rotateY(180deg);
						animation-name: abriendoPuerta;
						animation-delay: 1.5s;
						animation-duration: 1s;
						animation-timing-function: ease-in;
						animation-fill-mode: both;
						padding: 55px;
						position: relative;
						z-index: 1;
						overflow: hidden;
						
						&:last-of-type{
							transform: rotateY(-180deg);
							transform-origin: left;
							
							.info{
								&.info-0{
									margin-top: 100px;
								}
							}
						}
						
						.info{
							position: absolute;
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							padding: 47px;
							opacity: 0;
							visibility: hidden;
							
							&:not(.info-0){
								display: flex;
								align-items: center;
								justify-content: center;
								flex-direction: column;
							}
							
							&.active{
								opacity: 1;
								visibility: visible;
								animation-name: animacionEntrada;
								animation-duration: 1s;
								animation-fill-mode: both;
							}
							
							h1{
								font-family : "Myriad Pro", sans-serif;
								font-size : 20px;
								line-height : 26px;
								text-align: center;
								color: color('grey', 'gris-1');
								margin: 45px 0;
							}
							
							h2{
								font-family: "MarketDeco", sans-serif;
								font-size: 45px;
								text-align: center;
								text-transform: uppercase;
								line-height: 45px;
								margin: 0;
								color: color('grey', 'gris-1');
								
								span{
									font-size: 100px;
									line-height: 100px;
								}
							}
							
							h3{
								font-family: "MarketDeco", sans-serif;
								font-size: 15px;
								text-align: center;
								margin: 10px 0 0 0;
								color: color('grey', 'gris-1');
							}
							
							p{
								font-family: "Myriad Pro", sans-serif;
								font-size: 15px;
								color: color('grey', 'gris-1');
								margin: 0 10px;
								text-align: center;
							}
							
							&.info-0{
								animation-name: informacionPuerta;
								animation-delay: 2.5s;
								animation-duration: 1s;
								animation-timing-function: ease-in;
								animation-fill-mode: both;
							}
						}
					}
					
					.puerta-principal{
						width: 310px;
						height: 606px;
						background: url(../imagenes/elevador/puerta-principal.jpg);
						margin: 0 20px;
						padding: 150px 50px 70px 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						
						ul{
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							width: 180px;
							height: 225px;
							margin: 0;
							position: relative;
							
							li{
								width: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								height: 60px;
								
								&:nth-child(1){order: 5}
								&:nth-child(2){order: 6}
								&:nth-child(3){order: 3}
								&:nth-child(4){order: 4}
								&:nth-child(5){order: 1}
								&:nth-child(6){order: 2}
								&:nth-child(7){
									position: absolute;
									bottom: -129px;
									left: 71px;
									display: flex;
									align-items: center;
									justify-content: center;
									
									a{
										background: transparent;
										height: 37px;
										width: 37px;
										display: flex;
										align-items: center;
										justify-content: center;
										
										span{
											height: 33px;
											width: 33px;
											color: color('shades', 'white');
											background-color: color('grey', 'gris-1');
											font-size: 6px;
											text-align: center;
											
											&:hover{
												color: color('grey', 'gris-1');
												
												&:before{
													background-color: color('shades', 'white');
												}
											}
										}
									}
								}
								
								&:nth-child(odd){
									justify-content: flex-start;
								}
								
								&:nth-child(even){
									justify-content: flex-end;
								}
								
								a{
									display: flex;
									align-items: center;
									justify-content: center;
									width: 60px;
									height: 60px;
									border: 1px solid color('grey', 'gris-1');
									border-radius: 50%;
									background: color('shades', 'white');
									
									span{
										display: flex;
										align-items: center;
										justify-content: center;
										width: 50px;
										height: 50px;
										border: 1px solid color('grey', 'gris-1');
										border-radius: 50%;
										font-family: "MarketDeco", sans-serif;
										font-size: 12px;
										text-transform: uppercase;
										color: color('grey', 'gris-1');
										position: relative;
										z-index: 0;
										transition: color 0.5s ease-in;
										
										&:before{
											content: '';
											height: 100%;
											width: 100%;
											border-radius: 50%;
											background-color: color('grey', 'gris-1');
											position: absolute;
											z-index: -1;
											transform: scale(0);
											transition: transform 0.5s ease-in-out;
										}
										
										&:hover{
											color: color('shades', 'white');
											
											&:before{
												transform: scale(1);
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
			&.piso1{
				padding: 0;
				
				.fp-tableCell{
					display: flex;
					align-items: center;
					justify-content: flex-end;
				}
				
				.contenidoVideo{
					top: 0;
					left: 0;
				}
				
				.owl-carousel{
					width: calc(100% - 190px);
					min-width: 838px;
					height: 150px;
					
					.circulo{
						height: 150px;
						width: 150px;
						border: 1px solid color('shades', 'black');
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						overflow: hidden;
						
						&:hover{
							img{
								transform: scale(1.1);
							}
							
							span{
								transform: scale(0);
							}
						}
						
						img{
							position: absolute;
							z-index: 0;
							transition: transform 0.5s ease-in;
						}
						
						span{
							height: 120px;
							width: 120px;
							border: 3px solid color('shades', 'black');
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-family: "MarketDeco", sans-serif;
							font-size: 20px;
							color: color('shades', 'black');
							z-index: 1;
							background-color: color('shades', 'white');
							transition: transform 0.5s ease-in;
						}
					}
					
					.owl-item{
						&:last-child{
							&:after, &:before{
								display: none;
							}
						}
						
						&:after, &:before{
							content: '';
							display: block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							margin: auto 0;
							width: 100%;
							z-index: -1;
						}
						
						&:before{
							height: 5px;
							border: 1px solid color('shades', 'black');
							border-right: none;
						}
						
						&:after{
							border-top: 1px solid color('shades', 'black');
							height: 1px;
						}
					}
					
					.owl-nav{
						position: absolute;
						top: -105px;
						right: 170px;
						
						button{
							height: 50px;
							width: 25px;
							background-color: color('grey', 'gris-1');
							border: 2px solid color('grey', 'gris-1');
							border-bottom-left-radius: 50px;
							border-top-left-radius: 50px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							transition: background-color 0.5s ease-in;
							
							&:hover{
								background-color: color('shades', 'white');
								
								span{
									path{
										fill: color('grey', 'gris-1');
									}
								}
							}
							
							&.owl-next{
								transform: rotate(180deg);
							}
							
							&.disabled{
								visibility: hidden;
								opacity: 0;
							}
							
							svg{
								max-width: 8px;
								
								path{
									fill: color('shades', 'white');
									transition: fill 0.5s ease-in;
								}
							}
						}
					}
				}
			}
			
			&.piso2{
				.contenidoVideo{
					top: 0;
					left: 0;
				}
			}
			
			&.piso3{
				padding: 0;
				
				#container{
					height: 100vh;
					width: 100vw;
				}
				
				.btn{
					position: absolute;
					bottom: 100px;
					left: 0;
					right: 0;
					margin: auto;
					width: 154px;
					height: 50px;
					border-radius: 5px;
					padding: 0;
					line-height: 14px;
					background-color: color('grey', 'gris-1');
					color: color('shades', 'white');
					
					&:hover{
						background-color: color('shades', 'white') !important;
						color: color('grey', 'gris-1');
					}
				}
				
				.contenidoPisos{
					position: absolute;
					top: 100%;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: white;
					z-index: 3;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding-bottom: 150px;
					transition: top 1s;
					
					&.activo{
						top: 0;
					}
					
					.btn{
						position: relative;
						bottom: auto;
						margin: 40px 0 0 0;
					}
					
					h3{
						text-align: center;
						font-family: "Open Sans", sans-serif;
						line-height: 25px;
						font-size: 20px;
						margin: 50px 0;
					}
					
					.informacion{
						width: 600px;
						margin: 0 auto;
						display: flex;
						justify-content: space-between;
						
						.texto{
							max-width: 290px;
							p{
								font-family: "Open Sans", sans-serif;
								font-size: 12px;
								line-height: 20px;
								color: color('shades', 'black');
								
								&:last-of-type{
									margin-bottom: 0;
								}
							}
							
							ul{
								list-style-type: disc !important;
								margin: 0;
								padding-left: 10px;
								
								li{
									font-family: "Open Sans", sans-serif;
									font-size: 12px;
									line-height: 20px;
									color: color('shades', 'black');
									position: relative;
									display: flex;
									align-items: center;
									
									&:before{
										content: '';
										display: block;
										height: 5px;
										width: 5px;
										background-color: color('grey', 'gris-1');
										border-radius: 50%;
										position: absolute;
										left: -10px;
									}
								}
							}
						}
						
						.imagenes{
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							padding-top: 20px;
							
							img{
								margin-bottom: 5px;
							}
						}
					}
				}
			}
			
			&.piso4{
				padding: 0;
				background-color: #CA8D79;
				overflow: hidden;
				z-index: 5;
				
				.contenido{
					background-color: #CA8D79;
					padding-top: 300px;
					position: absolute;
					top: 0;
					left: 0;
					padding-bottom: 235px;
					
					
					#animacionMapa{
						width: 3000px !important;
					}
					
					.punto{
						height: 25px;
						width: 25px;
						position: absolute;
						background-color: color('shades', 'white');
						display: flex;
						border-radius: 50%;
						align-items: center;
						justify-content: center;
						
						&:after{
							content: '';
							height: 19px;
							width: 19px;
							position: absolute;
							background: #E33E29;
							border-radius: 50%;
						}
						
						&:hover{
							.informacion{
								visibility: visible;
								opacity: 1;
								transform: translateY(0);
								
								&:after{
									visibility: visible;
									transform: translateY(0);
								}
							}
						}
						
						.informacion{
							width: 280px;
							position: absolute;
							background-color: white;
							padding: 30px 35px 50px 35px;
							border-radius: 20px;
							bottom: 45px;
							visibility: hidden;
							transform: translateY(20px);
							opacity: 0;
							transition: transform 0.5s ease-in, opacity 0.5s ease-in;
							z-index: 0;
							
							&:before{
								content: '';
								display: block;
								height: 20px;
								width: 20px;
								background: url(../imagenes/elevador/flecha.svg) no-repeat center;
								background-size: contain;
								position: absolute;
								bottom: -16px;
								left: calc(50% - 10px);
								transform: rotate(180deg);
							}
							
							&:after{
								display: block;
								content: '';
								position: relative;
								height: 100%;
								width: 100%;
								left: 5px;
								top: 5px;
								border-radius: 20px;
								z-index: -5;
								background : -moz-linear-gradient(0% 50% 0deg,rgba(255, 255, 255, 1) 0%,rgba(0, 0, 0, 1) 100%);
								background : -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
								background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
								background : -o-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
								background : -ms-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
								-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000' ,GradientType=0)";
								background : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
								filter: alpha(opacity=29) progid:DXImageTransform.Microsoft.Alpha(opacity=29) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#000000' , GradientType=1);
								visibility: hidden;
								opacity: 0.29;
								transform: translateY(20px);
								transition: transform 0.5s ease-in;
							}
							
							&.audio{
								width: 185px;
								min-height: 120px;
								padding-bottom: 35px;
							}
							
							h5{
								font-family: "Helvetica", sans-serif;
								font-size: 14px;
								font-weight: bold;
								color: #E33E29;
								margin: 0 0 20px 0;
							}
							
							p{
								font-family: "Myriad Pro", sans-serif;
								font-size: 12px;
								line-height: 15px;
								color: color('shades', 'black');
							}
							
							svg.audio{
								width: 37px;
								display: block;
								margin: auto;
								
								g{
									fill: #e33e29;
								}
							}
						}
						
						&.punto1{
							left: 1153px;
							top: 483px;
						}
						
						&.punto2{
							left: 1493px;
							top: 837px;
						}
						
						&.punto3{
							left: 2160px;
							top: 707px;
						}
						
						&.punto4{
							left: 2033px;
							top: 819px;
						}
						
						&.punto5{
							left: 1786px;
							top: 834px;
						}
						
						&.punto6{
							left: 1321px;
							top: 1019px;
						}
						
						&.punto7{
							left: 1997px;
							top: 1131px;
						}
						
						&.punto8{
							left: 1533px;
							top: 1164px;
						}
						
						&.punto9{
							left: 1847px;
							top: 1309px;
						}
						
						&.punto10{
							left: 1414px;
							top: 1391px;
						}
						
						&.punto11{
							left: 1527px;
							top: 1488px;
						}
						
						&.punto12{
							left: 1402px;
							top: 1570px;
						}
						
						&.punto13{
							left: 2189px;
							top: 1767px;
						}
						
						&.punto14{
							left: 1862px;
							top: 1772px;
						}
						
						&.punto15{
							left: 1620px;
							top: 1852px;
						}
						
						&.punto16{
							left: 1958px;
							top: 1848px;
						}
						
						&.punto17{
							left: 1542px;
							top: 1964px;
						}
						
						&.punto18{
							left: 1563px;
							top: 2298px;
						}
					}
				}
			}
			
			&.piso5{
				padding: 0;
				background-color: white;
				overflow: hidden;
				z-index: 6;
				
				.contenidoPiso5 {
					background-color: white;
					position: absolute;
					top: 0;
					left: 0;
					
					
					#animacionPiso5 {
						width: 3000px !important;
					}
				}
				
				.botonPrincipalPiso5{
					position: absolute;
					z-index: 1;
					top: 45px;
					left: 50%;
					transform: translateX(-50%);
					
					&:hover{
						background-color: white !important;
						color: black;
					}
					
					img{
						&:first-of-type{
							padding-right: 30px;
						}
						
						&:last-of-type{
							padding-left: 30px;
						}
					}
				}
				
				.mapaSonoro{
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: white;
					top: 100%;
					z-index: 2;
					transition: top 0.5s;
					display: flex;
					align-items: center;
					justify-content: center;
					
					&.active{
						top: 0;
					}
					
					.contenidoMapaSonoro{
						position: relative;
						height: 667px;
						width: 1024px;
						overflow: hidden;
						
						img{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
						}
						
						.punto{
							height: 25px;
							width: 25px;
							position: absolute;
							background-color: color('shades', 'white');
							display: flex;
							border-radius: 50%;
							align-items: center;
							justify-content: center;
							
							&:after{
								content: '';
								height: 19px;
								width: 19px;
								position: absolute;
								background: #E33E29;
								border-radius: 50%;
							}
							
							&:hover{
								.informacion{
									visibility: visible;
									opacity: 1;
									transform: translateY(0);
									
									&:after{
										visibility: visible;
										transform: translateY(0);
									}
								}
							}
							
							.informacion{
								width: 280px;
								position: absolute;
								background-color: white;
								padding: 30px 10px 30px 30px;
								border-radius: 20px;
								bottom: 45px;
								display: flex;
								align-items: center;
								justify-content: center;
								visibility: hidden;
								transform: translateY(20px);
								opacity: 0;
								transition: transform 0.5s ease-in, opacity 0.5s ease-in;
								z-index: 0;
								
								&:before{
									content: '';
									display: block;
									height: 20px;
									width: 20px;
									background: url(../imagenes/elevador/flecha.svg) no-repeat center;
									background-size: contain;
									position: absolute;
									bottom: -16px;
									left: calc(50% - 10px);
									transform: rotate(180deg);
								}
								
								&:after{
									display: block;
									content: '';
									position: relative;
									height: 100%;
									width: 100%;
									left: 5px;
									top: 5px;
									border-radius: 20px;
									z-index: -5;
									background : -moz-linear-gradient(0% 50% 0deg,rgba(255, 255, 255, 1) 0%,rgba(0, 0, 0, 1) 100%);
									background : -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
									background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
									background : -o-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
									background : -ms-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
									-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000' ,GradientType=0)";
									background : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
									filter: alpha(opacity=29) progid:DXImageTransform.Microsoft.Alpha(opacity=29) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#000000' , GradientType=1);
									visibility: hidden;
									opacity: 0.29;
									transform: translateY(20px);
									transition: transform 0.5s ease-in;
								}
								
								&.audio{
									width: 200px;
									min-height: 120px;
								}
								
								h5{
									font-family: "Helvetica", sans-serif;
									font-size: 14px;
									color: color('shades', 'black');
									margin: 0;
									width: 150%;
								}
								
								svg.audio{
									width: 60px;
									display: block;
									margin-right: 10px;
									
									g{
										fill: #e33e29;
									}
								}
							}
							
							&.punto1{
								left: 407px;
								top: 225px;
							}
							
							&.punto2{
								left: 670px;
								top: 225px;
							}
							
							&.punto3{
								left: 735px;
								top: 220px;
							}
							
							&.punto4{
								left: 334px;
								top: 337px;
							}
							
							&.punto5{
								left: 517px;
								top: 333px;
							}
							
							&.punto6{
								left: 822px;
								top: 364px;
							}
							
							&.punto7{
								left: 101px;
								top: 490px;
							}
							
							&.punto8{
								left: 696px;
								top: 570px;
							}
							
							&.punto9{
								left: 845px;
								top: 566px;
							}
						}
					}
				}
			}
			
			&.piso6{
				z-index: 7;
				background-color: white;
				padding: 0;
				overflow: scroll;
				
				ul{
					h1{
						display: none;
					}
					
					li.juicer-ad{
						display: none;
					}
				}
			}
		}
		
		.menuPisos{
			position: fixed;
			top: 0;
			bottom: 0;
			margin: auto 0;
			z-index: 99;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 200px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s ease-in;
			
			&#menuPisos{
				left: 75px;
			}
			
			&.active{
				opacity: 1;
				visibility: visible;
			}
			
			li{
				&:first-child, &:last-child{
					a {
						height: 25px;
						width: 25px;
						background-color: color('shades', 'white');
						border: 1px solid color('grey', 'gris-1');
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						
						&:hover{
							span{
								&:before{
									transform: scale(1);
								}
								
								svg{
									position: relative;
									z-index: 1;
									
									path{
										fill: color('shades', 'white');
									}
								}
							}
						}
						
						&:after, &:before{
							content: '';
							position: absolute;
							height: 5px;
							width: 5px;
							background-color: color('grey', 'gris-1');
							border-radius: 50%;
						}
						
						span {
							height: 19px;
							width: 19px;
							border: 1px solid color('grey', 'gris-1');
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							position: relative;
							
							&:before{
								content: '';
								position: absolute;
								height: 100%;
								width: 100%;
								border-radius: 50%;
								background-color: color('grey', 'gris-1');
								transform: scale(0);
								z-index: 0;
								transition: transform 0.5s ease-in;
							}
							
							svg {
								width: 9px;
								
								path{
									fill: color('grey', 'gris-1');
									transition: fill 0.5s ease-in;
								}
							}
						}
					}
				}
				
				&:first-child{
					a{
						margin-bottom: 40px;
						
						&:before{
							bottom: -15px;
						}
						
						&:after{
							bottom: -30px;
						}
					}
				}
				
				&:last-child{
					a{
						margin-top: 40px;
						
						&:before{
							top: -15px;
						}
						
						&:after{
							top: -30px;
						}
						
						svg{
							transform: rotate(180deg);
						}
					}
				}
				
				&.lector{
					height: 50px;
					width: 50px;
					background: url(../imagenes/elevador/circulo-menu.svg) center no-repeat;
					background-size: contain;
					margin: 10px 0;
					display: flex;
					align-items: center;
					justify-content: center;
					
					span{
						text-transform: uppercase;
						font-family: "MarketDeco", sans-serif;
						font-size: 9px;
						font-weight: bold;
					}
				}
			}
		}
		
		.modalMapaInteractivo{
			height: 300px !important;
			width: 500px !important;
			
			h2{
				font-family: "Open Sans", sans-serif;
				font-weight: lighter;
				font-size: 20px;
				line-height: 25px;
				text-align: center;
				color: color('shades', 'white');
			}
			
			p{
				font-family: "Open Sans", sans-serif;
				font-weight: lighter;
				font-size: 12px;
				line-height: 20px;
				text-align: center;
			}
			
			.btn{
				width: 130px;
				margin: 0 auto;
			}
			
			&.modal360{
				.paso{
					background: none !important;
					
					&.paso-2{
						flex-direction: row;
						align-items: flex-start;
						
						.instruccion{
							width: 170px;
							
							&:last-child{
								margin-left: 25px;
							}
							
							p{
								font-size: 10px;
								font-family: "Open Sans", sans-serif;
							}
						}
					}
				}
				
				.btn{
					width: 170px;
					padding: 0;
				}
			}
			
			.paso{
				min-height: 224px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 380px;
				margin: auto;
				
				&.paso-1{
					background: url(../imagenes/elevador/piso-4/paso-1.png) no-repeat center;
				}
				
				&.paso-2{
					background: url(../imagenes/elevador/piso-4/paso-2.png) no-repeat center;
				}
				
				&.paso-3{
					background: url(../imagenes/elevador/piso-4/paso-3.png) no-repeat center;
				}
				
				&.paso-4{
					background: url(../imagenes/elevador/piso-4/paso-4.png) no-repeat center;
				}
			}
			
			.owl-carousel{
				.owl-nav{
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto 0;
					
					button{
						height: 30px;
						width: 30px;
						border-radius: 50%;
						border: 1px solid color('shades', 'white');
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto 0;
						transition: opacity 0.5s ease-in;
						
						&.disabled{
							opacity: 0;
							visibility: hidden;
						}
						
						&.owl-next{
							transform: rotate(180deg);
							right: -450px;
						}
						
						span{
							height: 24px;
							width: 24px;
							border-radius: 50%;
							border: 1px solid color('shades', 'white');
							display: flex;
							align-items: center;
							justify-content: center;
							position: relative;
							
							&:hover{
								&:before{
									transform: scale(1);
								}
								
								svg{
									path{
										fill: color('grey', 'gris-1');
									}
								}
							}
							
							&:before{
								content: '';
								display: block;
								height: 100%;
								width: 100%;
								position: absolute;
								background-color: color('shades', 'white');
								border-radius: 50%;
								transform: scale(0);
								transition: transform 0.5s ease-in;
								z-index: 0;
							}
							
							svg{
								width: 6px;
								position: relative;
								z-index: 1;
								
								path{
									fill: color('shades', 'white');
								}
							}
						}
					}
				}
				
				.owl-dots{
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 107px;
					margin: 7px auto 6px auto;
					height: 5px;
					border: 1px solid color('shades', 'white');
					border-left: none;
					border-right: none;
					position: relative;
					
					&:before{
						height: 1px;
						width: 100%;
						background-color: color('shades', 'white');
						content: '';
						display: block;
						position: absolute;
					}
					
					button, span{
						display: block;
						border-radius: 50%;
						border: 1px solid color('shades', 'white');
					}
					
					button{
						height: 17px;
						width: 17px;
						display: flex;
						align-items: center;
						justify-content: center;
						
						&:hover, &.active{
							span{
								background-color: color('shades', 'white');
							}
						}
						
						span{
							height: 9px;
							width: 9px;
							transition: background-color 0.5s ease-in;
						}
					}
				}
			}
		}
		
		.modalAnos{
			height: calc(100% - 20px);
			max-height: calc(100% - 20px) !important;
			width: calc(100% - 20px);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background-color: color('shades', 'white');
			padding-right: 130px;
			
			.modal-close{
				position: absolute;
				left: 30px;
				top: 30px;
				z-index: 9;
				width: 90px;
			}
			
			.menuPisos{
				visibility: visible;
				opacity: 1;
				right: 75px;
				margin: auto 0 auto auto;
				
				li{
					a{
						visibility: visible;
						opacity: 1;
						transition: opacity 0.5s ease-in;
						
						&.disabled{
							visibility: hidden;
							opacity: 0;
						}
					}
				}
			}
			
			.owl-carousel{
				.owl-item{
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			
			.anoInformacion{
				display: flex;
				align-items: center;
				
				h3{
					margin-top: 0;
					font-family: "MarketDeco", sans-serif;
					font-size: 20px;
					line-height: 25px;
					margin-bottom: 30px;
				}
				
				p{
					color: color('grey', 'gris-1');
					font-family: "Open Sans", sans-serif;
					font-size: 12px;
					line-height: 20px;
					margin-top: 0;
					margin-bottom: 20px;
					
					small{
						font-size: 8px;
						line-height: 10px;
					}
					
					a{
						color: color('grey', 'gris-1');
						transition: color 0.5s ease-in;
						
						&:hover{
							color: color('shades', 'black')
						}
					}
				}
				
				.imagen{
					width: 50%;
					
					p{
						line-height: 14px;
						text-align: center;
					}
				}
				
				.informacion{
					width: 50%;
				}
				
				&.ano1868{
					.imagen{
						width: 443px;
						
						#animacion1868{
							width: 443px;
						}
					}
					
					
					.informacion{
						p{
							max-width: 331px;
						}
					}
				}
				
				&.ano1870{
					align-items: flex-start;
					
					.imagen{
						width: 416px;
						margin-top: 160px;
						
						#animacion1870{
							width: 416px;
						}
					}
					
					.informacion{
						p{
							max-width: 335px;
						}
					}
				}
				
				&.ano1872{
					flex-direction: row-reverse;
					align-items: flex-start;
					
					.imagen{
						width: 461px;
						margin-top: 250px;
						
						#animacion1872{
							width: 461px;
						}
					}
					
					.informacion{
						p{
							max-width: 315px;
						}
					}
				}
				
				&.ano1873{
					align-items: flex-start;
					
					.imagen{
						width: 350px;
						margin-top: 200px;
						margin-right: 20px;
						
						.contenidoVideo{
							height: 350px;
							width: 350px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 67%;
								top: -18px;
								left: -10px;
							}
						}
						
						#animacion1873{
							width: 518px;
						}
						
						p{
							margin-top: -120px;
						}
					}
					
					.informacion{
						p{
							max-width: 251px;
						}
					}
				}
				
				&.ano1885{
					align-items: flex-start;
					
					.imagen{
						width: 350px;
						margin-top: 200px;
						margin-right: 20px;
						
						#animacion1885{
							width: 350px;
						}
					}
					
					.informacion{
						p{
							max-width: 314px;
						}
					}
				}
				
				&.ano1898{
					align-items: flex-end;
					flex-direction: row-reverse;
					
					.imagen{
						width: 319px;
						margin-left: 20px;
						
						#animacion1898{
							width: 319px;
						}
					}
					
					.informacion{
						p{
							max-width: 351px;
						}
					}
				}
				
				&.ano1899{
					.imagen{
						width: 350px;
						margin-right: 20px;
						
						.contenidoVideo{
							height: 350px;
							width: 350px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 94%;
								top: 0;
								left: -10px;
							}
						}
						
						#animacion1899{
							width: 350px;
						}
					}
					
					.informacion{
						p{
							max-width: 309px;
						}
					}
				}
				
				&.ano1907{
					flex-direction: row-reverse;
					
					.imagen{
						width: 364px;
						margin-left: 20px;
						
						#animacion1907{
							width: 364px;
						}
					}
					
					.informacion{
						p{
							max-width: 309px;
						}
					}
				}
				
				&.ano1913{
					flex-direction: row-reverse;
					
					.imagen{
						width: 190px;
						margin-left: 20px;
						
						.contenidoVideo{
							height: 279px;
							width: 270px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 120%;
								top: 0;
								left: -10px;
							}
						}
						
						#animacion1913{
							width: 190px;
						}
					}
					
					.informacion{
						p{
							max-width: 264px;
						}
					}
				}
				
				&.ano1917{
					flex-direction: column;
					width: 620px;
					
					.imagen{
						width: 620px;
						height: 207px;
						display: flex;
						justify-content: flex-end;
						
						.contenidoVideo{
							width: 360px;
							height: 207px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 120%;
								top: 0;
								left: -10px;
							}
						}
						
						#animacion1917{
							width: 360px;
						}
					}
					
					.informacion{
						width: 620px;
						
						p{
							max-width: 420px;
						}
					}
				}
				
				&.ano1929{
					align-items: flex-start;
					
					.imagen{
						width: 405px;
						margin-right: 20px;
						margin-top: 80px;
						
						#animacion1929{
							width: 405px;
						}
					}
					
					.informacion{
						p{
							max-width: 360px;
						}
					}
				}
				
				&.ano1930{
					flex-direction: column-reverse;
					
					.imagen{
						width: 690px;
						
						#animacion1930{
							width: 511px;
						}
						
						p{
							width: 511px;
							margin: 0;
						}
					}
					
					.informacion{
						width: 690px;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						
						h3{
							width: 310px;
						}
						
						p{
							max-width: 310px;
							margin-right: 0;
						}
					}
				}
				
				&.ano1933{
					flex-direction: row-reverse;
					
					.imagen{
						margin-top: 80px;
						
						.contenidoVideo{
							height: 350px;
							width: 350px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 145%;
								top: -18px;
								left: -10px;
							}
						}
						
						p{
							width: 350px;
						}
					}
					
					.informacion{
						width: 690px;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						
						h3{
							width: 310px;
						}
						
						p{
							max-width: 310px;
							margin-right: 0;
						}
					}
				}
				
				&.ano1935{
					align-items: flex-start;
					
					.imagen{
						height: 500px;
						width: 405px;
						
						.contenidoVideo{
							height: 500px;
							width: 405px;
							position: relative;
							overflow: hidden;
							
							video{
								height: 145%;
								top: -109px;
								left: -10px;
							}
						}
						
						p{
							width: 350px;
						}
					}
					
					.informacion{
						p{
							max-width: 246px;
						}
					}
				}
				
				&.ano1936{
					flex-direction: row-reverse;
					
					.imagen{
						margin-top: 80px;
						width: 430px;
						
						#animacion1936{
							width: 430px;
						}
						
						p{
							width: 430px;
						}
					}
					
					.informacion{
						p{
							max-width: 308px;
						}
					}
				}
				
				&.ano1940{
					.imagen{
						margin-top: 80px;
						width: 442px;
						
						#animacion1940{
							width: 442px;
						}
						
						p{
							width: 442px;
						}
					}
					
					.informacion{
						p{
							max-width: 287px;
						}
					}
				}
				
				&.ano1960{
					flex-direction: row-reverse;
					
					.imagen{
						margin-top: 140px;
						width: 450px;
						margin-left: 20px;
						
						#animacion1960{
							width: 450px;
						}
						
						p{
							width: 350px;
						}
					}
					
					.informacion{
						p{
							max-width: 242px;
						}
					}
				}
				
				&.ano2020{
					.imagen{
						margin-top: 100px;
						width: 350px;
						margin-right: 20px;
						
						#animacion2020{
							width: 350px;
						}
						
						p{
							width: 350px;
						}
					}
					
					.informacion{
						p{
							max-width: 290px;
						}
					}
				}
			}
		}
	}
	
	@keyframes animacionEntrada {
		0% { opacity: 0; transform: translateY(100px) }
		100% { opacity: 1; transform: translateY(0) }
	}
	
	@keyframes abriendoPuerta {
		0% { transform : rotateY(180deg) }
		100% { transform: rotateY(0) }
	}
	
	@keyframes informacionPuerta {
		0% { opacity: 0; transform: translateY(50px) }
		100% { opacity: 1; transform: translateY(0) }
	}
	
	@keyframes animacionHeader {
		0%      { transform: translateX(-50px);    opacity: 0; }
		100%    { transform: translateX(0);        opacity: 1; }
	}
	
	@keyframes animacionFooter {
		0%      { transform: translateY(75px);    opacity: 0; }
		100%    { transform: translateY(0);         opacity: 1; }
	}
}
