body.home{
	overflow: hidden;
	
	header{
		opacity: 0;
		animation-name: animacionHeader;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
	}
	
	@keyframes animacionHeader {
		0%      { transform: translateX(-50px);    opacity: 0; }
		100%    { transform: translateX(0);        opacity: 1; }
	}
	
	footer{
		opacity: 0;
		animation-name: animacionFooter;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
	}
	
	@keyframes animacionFooter {
		0%      { transform: translateY(75px);    opacity: 0; }
		100%    { transform: translateY(0);         opacity: 1; }
	}
	
	main.home{
		min-height: 768px;
		min-width: 1024px;
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		
		.animacion{
			position: absolute;
			width: 100%;
			min-width: 1024px;
			z-index: -1;
			left: 0;
		}
		
		svg.logo{
			max-width: 350px;
			width: 100%;
			margin: 0 auto;
			animation-name: svg;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			
			g{
				fill: color('grey', 'gris-1');
			}
		}
		
		h1{
			font-size: 14px;
			color: color('grey', 'gris-1');
			line-height: 20px;
			margin: 50px 0;
			animation-name: h1;
			animation-duration: 1s;
			animation-timing-function: ease-in
		}
		
		.btn{
			height: 50px;
			animation-name: btn;
			animation-duration: 1s;
			animation-timing-function: ease-in
		}
		
		.instrucciones{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 560px;
			margin-top: 40px;
			margin-bottom: 20px;
			
			.instruccion{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				
				.texto{
					p{
						font-size: 12px;
						font-family: "Myriad Pro", sans-serif;
						text-align: center;
						margin-bottom: 30px;
					}
				}
			}
		}
		
		p{
			font-family: "Open Sans", sans-serif;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
		}
		
		//Animaciones
		@keyframes svg {
			0%      { transform: translateY(-100px);    opacity: 0 }
			100%    { transform: translateY(0);         opacity: 1 }
		}
		
		@keyframes h1 {
			0%      { transform: translateX(20px);      opacity: 0 }
			100%    { transform: translateX(0);         opacity: 1 }
		}
		
		@keyframes btn {
			0%      { transform: translateY(100px);    opacity: 0 }
			100%    { transform: translateY(0);         opacity: 1 }
		}
	}
}
