body{
	&.intro, &.anuncio{
		overflow: hidden;
		
		header{
			opacity: 0;
			animation-name: animacionHeader;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-delay: 1s;
			animation-fill-mode: both;
		}
		
		footer{
			opacity: 0;
			animation-name: animacionFooter;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-delay: 1s;
			animation-fill-mode: both;
			z-index: 3;
		}
	}
	
	@keyframes animacionHeader {
		0%      { transform: translateX(-50px);    opacity: 0; }
		100%    { transform: translateX(0);        opacity: 1; }
	}
	
	
	@keyframes animacionFooter {
		0%      { transform: translateY(75px);    opacity: 0; }
		100%    { transform: translateY(0);         opacity: 1; }
	}
	
	main.intro{
		&:after{
			content: '';
		}
	}
	
	main.intro, main.intro-animado{
		min-height: 768px;
		min-width: 1024px;
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		
		&:before{
			content: '';
		}
		
		.animacion-container{
			min-width: 1024px;
			max-width: 1500px;
			max-height: 1000px;
			width: 100%;
			height: 100%;
			margin: auto 0;
			position: relative;
			
			.pulse{
				position: absolute;
				bottom: 0;
			}
			
			.animacion{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 100%;
				z-index: 1;
				min-width: 1280px;
				
				&#animacion{
					z-index: 0;
					
					svg{
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
				
				&#animacionSeRenta{
					svg{
						height: auto !important;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}
	}
	
	.modal{
		bottom: 0;
		height: 300px;
		background: rgba(color('shades', 'black'), 0.8);
		border-radius: 15px;
		width: 500px;
		
		.modal-content{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			
			p{
				font-family: "Open Sans", sans-serif;
				font-size: 20px;
				color: color('shades', 'white')
			}
			
			.botonera{
				display: flex;
				
				.btn{
					width: 90px;
					
					&:last-child{
						margin-left: 50px;
					}
				}
			}
		}
	}
}
