body.intro-elevador{
	header{
		opacity: 0;
		animation-name: animacionHeader;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
	}
	
	footer{
		opacity: 0;
		animation-name: animacionFooter;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-delay: 1s;
		animation-fill-mode: both;
		z-index: 3;
	}
	
	@keyframes animacionHeader {
		0%      { transform: translateX(-50px);    opacity: 0; }
		100%    { transform: translateX(0);        opacity: 1; }
	}
	
	@keyframes animacionFooter {
		0%      { transform: translateY(75px);    opacity: 0; }
		100%    { transform: translateY(0);         opacity: 1; }
	}
	
	main.intro-elevador{
		min-height: 768px;
		min-width: 1024px;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
