body.juego{
	overflow-x: hidden;
	
	header{
		z-index: 99;
	}
	
	footer{
		z-index: 99;
	}
}

main.juego{
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	section.juego{
		.contenido{
			display: flex;
			margin-top: 100px;
			justify-content: space-between;
		}
		
		.juego{
			width: 950px;
			display: flex;
			position: relative;
			align-items: flex-start;
			justify-content: space-between;
			
			.piso{
				display: flex;
				flex-wrap: wrap;
				width: 364px;
				height: 608px;
				background: url(../imagenes/juego/habitaciones.jpg) no-repeat center;
				padding: 57px 55px 59px 34px;
				overflow: hidden;
				
				.droppable{
					width: calc(50% - 2px);
					height: 34%;
					
					&:first-child{
						width: 100%;
						height: 250px;
					}
					
					&:nth-child(2){
						margin-top: 8px;
						width: 122px;
						height: 128px;
					}
					
					&:nth-child(3){
						margin-top: 8px;
						width: 145px;
						height: 128px;
						margin-left: 8px;
					}
					
					&:nth-child(4){
						margin-top: 8px;
						margin-left: 78px;
						width: 108px;
						height: 105px;
					}
					
					&:nth-child(5){
						margin-top: 8px;
						margin-left: 8px;
						width: 80px;
						height: 105px;
					}
				}
				
				.piso-interno{
					height: 500px;
					width: 275px;
					position: absolute;
					top: 58px;
					left: 33px;
				}
			}
			
			.muebles{
				display: flex;
				flex-wrap: wrap;
				width: 560px;
				margin-bottom: 150px;
				
				&>p{
					font-size: 12px;
					line-height: 14px;
					font-family: "Myriad Pro", sans-serif;
					text-align: center;
				}
				
				.contador{
					height: 93px;
					width: 560px;
					background: url(../imagenes/juego/separador.jpg) no-repeat center;
					display: flex;
					
					.tiempo{
						width: 50%;
						
						p{
							margin: 0;
						}
						
						.titulo{
							font-size: 16px;
							font-family: "MarketDeco", sans-serif;
						}
						
						.hora{
							font-size: 32px;
							font-family: "MarketDeco", sans-serif;
						}
					}
					
					.presupuesto{
						width: 50%;
						
						p{
							margin: 0;
						}
						
						.titulo{
							font-size: 16px;
							font-family: "MarketDeco", sans-serif;
							text-transform: uppercase;
							text-align: right;
						}
						
						.cantidad{
							font-size: 32px;
							font-family: "MarketDeco", sans-serif;
							text-align: right;
						}
					}
				}
				
				.renglon{
					width: 100%;
					display: flex;
					justify-content: space-between;
				}
				
				.mueble{
					//width: 156px !important;
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 156px;
					//border: 1px solid grey;
					margin-top: -1px;
					margin-left: -1px;
					flex-direction: column;
					
					&:before{
						content: '';
					}
					
					.menu{
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: column-reverse;
						width: 100%;
						padding: 0 10px 10px 10px;
						
						p{
							margin: 0;
						}
					}
					
					.sinrotar{
						.draggable{
							.rototeable{
								.rotate{
									display: none !important;
								}
							}
						}
					}
					
					&:hover{
						.draggable{
							.rototeable{
								.rotate{
									display: block;
								}
							}
						}
					}
					
					.draggable {
						
						p{
							height: 100px;
							width: 100px;
							background-color: white;
							border: 1px solid gray;
							margin: 0;
						}
						
						
						
						.rototeable{
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							
							
							
							.rotate{
								position: absolute;
								bottom: -20px;
								right: -20px;
								height: 20px;
								width: 20px;
								background-color: red;
								display: none;
							}
						}
						
						.drag{
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
						}
					}
				}
			}
		}
	}
	
	
	.modalMapaInteractivo{
		height: 300px !important;
		width: 500px !important;
		
		h2{
			font-family: "Open Sans", sans-serif;
			font-weight: lighter;
			font-size: 20px;
			line-height: 25px;
			text-align: center;
			color: color('shades', 'white');
		}
		
		p{
			font-family: "Open Sans", sans-serif;
			font-weight: lighter;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
		}
		
		.btn{
			width: 130px;
			margin: 0 auto;
		}
		
		&.modal360{
			.paso{
				background: none !important;
				
				&.paso-2{
					flex-direction: row;
					align-items: flex-start;
					
					.instruccion{
						width: 170px;
						
						&:last-child{
							margin-left: 25px;
						}
						
						p{
							font-size: 10px;
							font-family: "Open Sans", sans-serif;
						}
					}
				}
			}
			
			.btn{
				width: 170px;
				padding: 0;
			}
		}
		
		.paso{
			min-height: 224px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 380px;
			margin: auto;
			
			&.paso-1{
				background: url(../imagenes/elevador/piso-4/paso-1.png) no-repeat center;
			}
			
			&.paso-2{
				background: url(../imagenes/elevador/piso-4/paso-2.png) no-repeat center;
			}
			
			&.paso-3{
				background: url(../imagenes/elevador/piso-4/paso-3.png) no-repeat center;
			}
			
			&.paso-4{
				background: url(../imagenes/elevador/piso-4/paso-4.png) no-repeat center;
			}
		}
		
		.owl-carousel{
			.owl-nav{
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto 0;
				
				button{
					height: 30px;
					width: 30px;
					border-radius: 50%;
					border: 1px solid color('shades', 'white');
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto 0;
					transition: opacity 0.5s ease-in;
					
					&.disabled{
						opacity: 0;
						visibility: hidden;
					}
					
					&.owl-next{
						transform: rotate(180deg);
						right: -450px;
					}
					
					span{
						height: 24px;
						width: 24px;
						border-radius: 50%;
						border: 1px solid color('shades', 'white');
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						
						&:hover{
							&:before{
								transform: scale(1);
							}
							
							svg{
								path{
									fill: color('grey', 'gris-1');
								}
							}
						}
						
						&:before{
							content: '';
							display: block;
							height: 100%;
							width: 100%;
							position: absolute;
							background-color: color('shades', 'white');
							border-radius: 50%;
							transform: scale(0);
							transition: transform 0.5s ease-in;
							z-index: 0;
						}
						
						svg{
							width: 6px;
							position: relative;
							z-index: 1;
							
							path{
								fill: color('shades', 'white');
							}
						}
					}
				}
			}
			
			.owl-dots{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 107px;
				margin: 7px auto 6px auto;
				height: 5px;
				border: 1px solid color('shades', 'white');
				border-left: none;
				border-right: none;
				position: relative;
				
				&:before{
					height: 1px;
					width: 100%;
					background-color: color('shades', 'white');
					content: '';
					display: block;
					position: absolute;
				}
				
				button, span{
					display: block;
					border-radius: 50%;
					border: 1px solid color('shades', 'white');
				}
				
				button{
					height: 17px;
					width: 17px;
					display: flex;
					align-items: center;
					justify-content: center;
					
					&:hover, &.active{
						span{
							background-color: color('shades', 'white');
						}
					}
					
					span{
						height: 9px;
						width: 9px;
						transition: background-color 0.5s ease-in;
					}
				}
			}
		}
		
		.boton-final{
			margin-bottom: 20px;
		}
	}
	
	.simulacion-slider{
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: white;
		top: -100%;
		transition: top 0.5s;
		z-index: 98;
		
		&.active{
			top: 0;
		}
		
		p{
			font-family: "Open Sans", sans-serif;
			font-size: 20px;
			line-height: 35px;
			max-width: 460px;
			text-align: center;
		}
	}
}
