main.mapaInteractivo{
	.mapa{
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		
		.contenido{
			position: relative;
			
			.punto{
				height: 50px;
				width: 50px;
				position: absolute;
				background: red;
				display: block;
				
				&.punto1{
					left: 500px;
					top: 500px;
				}
				
				&.punto2{
					left: 300px;
					top: 300px;
				}
				
				&.punto2{
					left: 1500px;
					top: 1500px;
				}
			}
		}
	}
}
