main.video360{
	.botones{
		position: fixed;
		display: flex;
		flex-direction: column;
		top: calc(50% - 50px)
	}
}

.cargando{
	display: flex;
	height: 100%;
	width: 100%;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: white;
}
