footer
    .contenido.contenido-fluido
        block contenidoFooter

    .contenido
        ul.menu-secundario
            li: a(href="#!"): span Bienvenido
            li: a(href="juego"): span La Mudanza
            li: a(href="#!"): span Descansa
            li: a(href="chat"): span Chatea
            li: a(href="elevador"): span El Tour
            li: a(href="#!"): span La Película

    .contenido.contenido-fluido
        ul
            li
                a(href="https://www.folks.com.mx" target="_blank")
                    img.folksstudio(src="imagenes/footer/folksstudio.svg" alt="folks studio")

            li
                img(src="imagenes/footer/cdmx.png" alt="cdmx")
