block config
    -var siteName = 'Ermitaños'
    -var pageTitle = 'Inicio |'
    -var metaDescription = '...'
    -var pagina = ''
    -var claseEspecial = ''

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' type='text/css' href='css/estilos.css')
        block estilosAdicionales
        title= `${siteName} | ${pageTitle}`
        meta(name="description" content=metaDescription)

    body(class=claseEspecial)
        include header/header

        block content

        include footer

        block scripts

        script(src='js/scripts.js')

        block scriptsDespues
