.btn{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	background-color: color('shades', 'white');
	border: 2px solid color('grey', 'gris-1');
	color: color('grey', 'gris-1');
	height: 30px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	box-shadow: none;
	
	&:hover, &:focus{
		background-color: color('grey', 'gris-1') !important;
		color: color('shades', 'white');
	}
	
	&.btn-invertido{
		background-color: color('shades', 'transparent');
		border: 2px solid color('shades', 'white');
		color: color('shades', 'white');
		
		&:hover, &:focus{
			background-color: color('shades', 'white') !important;
			color: color('grey', 'gris-1');
		}
	}
}
