$materialize-red: (
		"lighten-2":  #ee6e73
);

$red: (
		"base":       #F44336,
);

$light-blue: (
		"darken-1":   #039be5
);

$teal: (
		"lighten-1":  #26a69a
);

$green: (
		"base":       #4CAF50,
);

$orange: (
		"accent-2":    #ffab40,
);

$grey: (
		"base":       #9e9e9e,
		"lighten-2":  #e0e0e0,
		"darken-1":   #757575,
		
		"gris-1": #302e2b
);

$shades: (
		"black":        #000000,
		"white":        #FFFFFF,
		"transparent":  transparent
);

$colors: (
		"materialize-red": $materialize-red,
		"red": $red,
		"light-blue": $light-blue,
		"teal": $teal,
		"green": $green,
		"orange": $orange,
		"grey": $grey,
		"shades": $shades,
) !default;


// uso: color("nombre_del_color", "tipo_de_color")
@function color($color, $type) {
	@if map-has-key($colors, $color) {
		$curr_color: map-get($colors, $color);
		@if map-has-key($curr_color, $type) {
			@return map-get($curr_color, $type);
		}
	}
	@warn "Unknown `#{$color}` - `#{$type}` in $colors.";
	@return null;
}
