footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-width: 1024px;
	padding: 12px 0;
	
	.contenido-fluido{
		width: 90% !important;
	}
	
	.contenido{
		width: 875px;
		margin: auto;
		
		.botones{
			padding-bottom: 20px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: flex-end;
			animation-name: animacionFooter;
			animation-duration: 1s;
			animation-timing-function: ease-in;
			animation-delay: 1s;
			animation-fill-mode: both;
			position: relative;
			z-index: 2;
			
			.btn{
				width: 90px;
			}
		}
		
		ul{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			margin: 0;
			
			li{
				a{
					img{
						&.folksstudio{
							display: block;
							width: 67px;
							margin-right: 10px;
						}
					}
				}
			}
			
			&.menu-secundario{
				width: 100%;
				justify-content: space-between;
				margin-bottom: 12px;
				
				li{
					&:last-child{
						a{
							&:before{
								display: none;
							}
							
							span{
								left: -100px;
								
								&:before{
									right: 0;
									background-position: 12px center;
									background-repeat: no-repeat;
								}
							}
						}
					}
					
					&:first-child{
						a{
							span{
								left: 0;
								
								&:before{
									left: 0;
									background-position: -12px center;
									background-repeat: no-repeat;
								}
							}
						}
					}
					
					a{
						display: block;
						height: 15px;
						width: 15px;
						background-color: color('grey', 'gris-1');
						border: 3px solid color('grey', 'gris-1');
						border-radius: 50%;
						transition: background-color 0.5s ease-in;
						position: relative;
						
						&:hover{
							background-color: color('shades', 'white');
							
							span{
								visibility: visible;
								opacity: 1;
							}
						}
						
						&:before{
							content: '';
							display: block;
							height: 11px;
							width: 172px;
							background: url(../imagenes/footer/menu-secundario.svg) no-repeat center;
							background-size: contain;
							position: absolute;
							left: 50%;
							top: -1px;
							z-index: -1;
						}
						
						span{
							position: absolute;
							width: 110px;
							font-family: "Open Sans", sans-serif;
							font-size: 12px;
							color: color('shades', 'white');
							background-color: color('grey', 'gris-1');
							text-align: center;
							height: 30px;
							border-radius: 5px;
							line-height: 30px;
							top: -50px;
							left: -50px;
							display: flex;
							align-items: center;
							justify-content: center;
							visibility: hidden;
							opacity: 0;
							transition: opacity 0.5s ease-in;
							
							&:before{
								display: block;
								content: '';
								height: 26px;
								width: 28px;
								position: absolute;
								bottom: -10px;
								background: url(../imagenes/footer/pestana.svg);
								z-index: -1;
							}
						}
					}
				}
			}
		}
	}
}
