html, body{
	height: 100%;
	min-height: 768px;
	width: 100%;
}

.container{
	min-width: 1024px;
	width: 100%;
}

.contenidoVideo{
	position: absolute;
	height: 100%;
	width: 100%;
	
	video{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
	}
}

.activarAudio{
	position: fixed;
	top: 50px;
	right: 50px;
}


