header{
	width: 50px;
	min-height: 768px;
	height: 100vh;
	padding: 0 4.5px;
	position: absolute;
	z-index: 9;
	top: 0;
	
	&:hover, .active{
		.submenu{
			opacity: 1;
			visibility: visible;
		}
	}
	
	&.active{
		.interior{
			&.menu{
				background-color: color('grey', 'gris-1');
				
				&:hover{
					background-color: rgba(color('grey', 'gris-1'), 0.9);
				}
				
				svg{
					opacity: 0;
					visibility: hidden;
					
					&:last-child{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		
		.submenu{
			opacity: 1;
			visibility: visible;
		}
		
		nav{
			transform: translateX(0);
			opacity: 1;
		}
	}
	
	.interior{
		border-left: 2px solid color('grey', 'gris-1');
		border-right: 2px solid color('grey', 'gris-1');
		background-color: color('shades', 'white');
		position: relative;
		z-index: 2;
		
		&.menu{
			height: 100px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.5s background-color ease-in;
			position: relative;
			z-index: 1;
			
			&:hover{
				background-color: color('grey', 'gris-1');
				cursor: pointer;
				
				svg{
					rect{
						fill: color('shades', 'white');
					}
				}
			}
			
			svg{
				width: 17px;
				transition: opacity 0.5s ease-in;
				
				rect{
					fill: color('grey', 'gris-1');
					transition: fill 0.5s ease-in;
				}
				
				&:last-child{
					visibility: hidden;
					opacity: 0;
					position: absolute;
				}
			}
		}
		
		&.logotipo{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 150px;
			
			svg{
				width: 15px;
				
				g{
					fill: color('grey', 'gris-1');
				}
			}
		}
		
		&.redes-sociales{
			height: calc(100vh - 350px);
			min-height: 410px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 24px 0 12px 0;
			
			ul{
				margin: 0;
				
				li{
					margin-bottom: 27px;
					
					&:last-child{
						margin-bottom: 0;
					}
					
					a{
						.icono{
							height: 21px;
							width: 21px;
							display: block;
							background-size: contain;
							transition: transform 0.5s;
							
							&:hover, &.active{
								transform: translateY(-2px);
								
								&.informacion{
									background: url(../imagenes/header/informacion-hover.svg) no-repeat center;
								}
								
								&.instagram{
									background: url(../imagenes/header/instagram-hover.svg) no-repeat center;
								}
								
								&.vimeo{
									background: url(../imagenes/header/vimeo-hover.svg) no-repeat center;
								}
							}
							
							&.active{
								&.audio{
									background: url(../imagenes/header/audio-hover.svg) no-repeat center;
								}
							}
							
							&.informacion{
								background: url(../imagenes/header/informacion.svg) no-repeat center;
							}
							
							&.instagram{
								background: url(../imagenes/header/instagram.svg) no-repeat center;
							}
							
							&.vimeo{
								background: url(../imagenes/header/vimeo.svg) no-repeat center;
							}
							
							&.audio{
								background: url(../imagenes/header/audio.svg) no-repeat center;
							}
						}
					}
				}
			}
		}
		
		&.submenu-footer{
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			
			.icono{
				height: 21px;
				width: 21px;
				display: block;
				background-size: contain;
				transition: transform 0.5s;
				
				&:hover, &.active{
					transform: translateY(-2px);
				}
				
				&.active{
					&.menu-footer{
						background: url(../imagenes/header/menu-footer-hover.svg) no-repeat center;
					}
				}
				
				&.menu-footer{
					background: url(../imagenes/header/menu-footer.svg) no-repeat center;
				}
			}
		}
	}
	
	.submenu{
		min-height: 518px;
		height: calc(100vh - 250px);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease-in;
	}
	
	.separador{
		width: calc(100% + 9px);
		margin: -6px 0 -5px -4.5px;
		position: relative;
		z-index: 3;
		
		svg{
			display: block;
			background: color('shades', 'white');
			
			.separador{
				fill: color('grey', 'gris-1');
			}
			
			rect:not(.principal){
				width: 2px;
			}
		}
	}
	
	nav{
		width: 300px;
		position: absolute;
		min-height: 768px;
		height: 100vh;
		top: 0;
		left: 50px;
		background-color: color('grey', 'gris-1');
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 0 27px 0;
		transform: translateX(-350px);
		opacity: 0;
		z-index: 1;
		transition: transform 0.5s ease-in, opacity 0.5s ease-in;
		
		ul{
			margin: 0;
			
			&.principal{
				li{
					border-bottom: 1px solid color('shades', 'black');
					height: 50px;
					
					&:first-child{
						height: 100px;
						border-bottom: none;
						
						&:hover{
							background-color: transparent;
						}
					}
					
					a{
						line-height: 50px;
						
						img{
							width: 100px;
							max-width: 110px;
							display: block;
						}
					}
				}
			}
			
			&:not(.principal){
				li{
					&:nth-child(3){
						margin-bottom: 30px;
					}
				}
			}
			
			li{
				display: flex;
				align-items: center;
				height: 30px;
				transition: background-color 0.5s ease-in;
				
				&:hover{
					background-color: rgba(color('shades', 'white'), 0.1);
				}
				
				a{
					font-weight: bold;
					font-size: 12px;
					font-family: "Open Sans", sans-serif;
					color: color('shades', 'white');
					padding: 0 32px;
					width: 100%;
					display: block;
					line-height: 30px;
				}
			}
		}
	}
}
