extends ../layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'

block content
    main.home
        section.juego
            .container
                .row
                    .col.s6
                        h1 Pruebas

                        p.aviso#aviso

                    .col.s6
                        p tienes un minuto
                        p
                            span#hour 00
                            | :
                            span#minute 00
                            | :
                            span#second 00

                .row
                    .col.s12
                        .juego#juego
                            .piso
                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                            .muebles
                                each val in ['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
                                    .mueble
                                        .draggable.ui-widget-content.tooltipped(data-position="bottom" data-tooltip="Mueble")
                                            div(class="rototeable "+val)
                                                p Mueble

                                                .rotate

                                            .drag
        #introJuego.modal
            .modal-content
                h4 Juego
                p Instrucciones del juego
            .modal-footer
                a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Comenzar
