extends ../layout/template

append config
    - pageTitle = 'Intro animado'
    - pagina = 'intro'
    - claseEspecial = 'intro-animado'

block content
    main.intro-animado
        .animacion-container
            .contenidoVideo
                video#introAnimado(autoplay preload loop buffered muted)
                    source(src="video/intro-animado/intro-animado.webm" type="video/webm")
                    source(src="video/intro-animado/intro-animado.mp4" type="video/mp4")

            #animacionSeRenta.animacion

    #empezar.modal
        .modal-content
            p ¿Quieres rentar un mini departamento?

            .botonera
                a.btn.btn-invertido.waves-effect.waves-light(href="juego") Si
                a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="#!") No

block contenidoFooter
    .botones
        a.btn.waves-effect.waves-light#saltar(href="anuncio") Saltar

block scripts
    script(src="js/lottie.min.js")
