extends ../layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'

block content
    main.mapaInteractivo
        section.mapa
            .contenido
                img(src=urlGlobal+'/imagenes/mapagigante.jpg' alt="mapa")

                .punto.punto1.tooltipped(data-position="bottom" data-tooltip="Punto en el mapa")
                .punto.punto2.tooltipped(data-position="bottom" data-tooltip="Punto dos en el mapa")
                .punto.punto3.tooltipped(data-position="bottom" data-tooltip="Punto tres en el mapa")
