extends ../layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'

block content
    main.video
        section.video360
            .video-container
                iframe(width='560' style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" height='315' src='https://www.youtube.com/embed/QKm-SOOMC4c?modestbranding=1&amp;controls=1&amp;rel=0&amp;autoplay=1&amp;showinfo=0' frameborder="none" allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
