extends ../layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'

block content
    main.video360
        style.
            #viewer {
                width: 100vw;
                height: 100vh;
            }
        #desc-container(style='display:none; background-color: white')
            iframe(src='https://www.youtube.com/embed/D7icsuamx5E')
            .title marcador con texto

        .botones#botones
            #posicion0
            button#posicion1 Posicion de video 1
            button#posicion2 Posicion de video 2
            button#posicion3 Posicion de video 3

    .cargando
        p cargando...



        //-video#videojs-panorama-player.video-js.vjs-default-skin(crossorigin="anonymous" controls)
            source(src="video/shark.mp4" type='video/mp4')

block scripts
    //-script(src="https://yanwsh.github.io/videojs-panorama/videojs/v5/video.min.js")
    script(src="https://pchen66.github.io/js/three/three.min.js")
    script(src="https://pchen66.github.io/js/panolens/panolens.min.js")
    //-script(src="https://yanwsh.github.io/videojs-panorama/dist/videojs-panorama.v5.min.js")
