extends layout/template

append config
    - pageTitle = 'Anuncio'
    - pagina = 'anuncio'
    - claseEspecial = 'anuncio'

block content
    main.anuncio
        .contenidoVideo
            video#anuncio(autoplay preload buffered muted)
                source(src="video/anuncio/anuncio.mp4" type="video/mp4")

        #activarAudio.activarAudio
            img(src="imagenes/activar-audio.jpg" alt="desactivar audio")

block contenidoFooter
    .botones
        a.btn.waves-effect.waves-light#saltar(href="juego") Saltar

block scripts
    script(src="js/lottie.min.js")
