extends layout/template

append config
    - pageTitle = 'Chat'
    - pagina = 'chat'
    - claseEspecial = 'chat'

block content
    main.chat
        .chat#chat
            .mensaje
                .icono
                    img(src="imagenes/chat/ermitanos/ermitano.svg" alt="ermitano")

                .texto
                    .informacion
                        p 19:22
                            br
                            | Ermitaño

                    .mensaje-texto
                        p Ermitaña ha cambiado el asunto a
                            br
                            | "Ermita-ños <img src="imagenes/chat/emojis/emojis-1.png" alt="emojis">

        .cargando-mensaje
            p esta escribiendo...

        .galeria
            .regresar
                a.btn.waves-light.waves-effect#ocultarGaleria(href="#!") Regresar
            .contenido
                a(data-fancybox="video" href="https://vimeo.com/383225774")
                    img(src="imagenes/chat/galeria/imagen-1.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383226090/a4d1667382")
                    img(src="imagenes/chat/galeria/imagen-2.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383225870/610aa84f68")
                    img(src="imagenes/chat/galeria/imagen-3.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223731/164f751833")
                    img(src="imagenes/chat/galeria/imagen-4.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383226540/0580044db5")
                    img(src="imagenes/chat/galeria/imagen-5.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383226345/fa17d96cc2")
                    img(src="imagenes/chat/galeria/imagen-6.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224945/2633c51cf7")
                    img(src="imagenes/chat/galeria/imagen-7.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224407/affdb4da7d")
                    img(src="imagenes/chat/galeria/imagen-8.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224320/c71907ed08")
                    img(src="imagenes/chat/galeria/imagen-9.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383226744/c171a87caf")
                    img(src="imagenes/chat/galeria/imagen-10.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383226649/4e490a0f72")
                    img(src="imagenes/chat/galeria/imagen-11.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224587/724c3994bd")
                    img(src="imagenes/chat/galeria/imagen-12.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224131/111302e624")
                    img(src="imagenes/chat/galeria/imagen-13.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223983/b857a13385")
                    img(src="imagenes/chat/galeria/imagen-14.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223408/f32c48c205")
                    img(src="imagenes/chat/galeria/imagen-15.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223230/85d4e2965f")
                    img(src="imagenes/chat/galeria/imagen-16.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383225681/2d90e54d29")
                    img(src="imagenes/chat/galeria/imagen-17.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224800/8679330e8b")
                    img(src="imagenes/chat/galeria/imagen-18.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224676/c795bee3d9")
                    img(src="imagenes/chat/galeria/imagen-19.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223907/a195882fd5")
                    img(src="imagenes/chat/galeria/imagen-20.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223589/165e794406")
                    img(src="imagenes/chat/galeria/imagen-21.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383222715/fa6458541c")
                    img(src="imagenes/chat/galeria/imagen-22.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383225127/bd2b7eebce")
                    img(src="imagenes/chat/galeria/imagen-23.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223478/e0fdd95f6d")
                    img(src="imagenes/chat/galeria/imagen-24.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383222598/e7236aeeed")
                    img(src="imagenes/chat/galeria/imagen-25.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383225263/29ae097dcc")
                    img(src="imagenes/chat/galeria/imagen-26.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223663/e926aecc90")
                    img(src="imagenes/chat/galeria/imagen-27.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383224230/d3ae899ac2")
                    img(src="imagenes/chat/galeria/imagen-28.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383223066/7a0b8f4e74")
                    img(src="imagenes/chat/galeria/imagen-29.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383222871/b67166bffb")
                    img(src="imagenes/chat/galeria/imagen-30.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383230428/93ba7666e0")
                    img(src="imagenes/chat/galeria/imagen-31.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/383230264/6a29867d6d")
                    img(src="imagenes/chat/galeria/imagen-32.jpg" alt="imagen")
                a(data-fancybox="video" href="https://vimeo.com/378865592/0e8da7f74b")
                    img(src="imagenes/chat/galeria/imagen-33.jpg" alt="imagen")

        #empezarChat.modal
            .modal-content
                p ¡Hola vecin@! Este es el chat de los vecinos
                    br
                    | del Ermita. Haz scroll para leer los mensajes.
                    br
                    | Podrás acceder a videos y fotografías
                    br
                    | exclusivas... Bienvenid@

                .botonera
                    a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="#!") Iniciar Chat

