extends layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'
    - claseEspecial = 'acerca-de-ermitanos'

block content
    main.acerca-de-ermitanos.creditos-pelicula
        .contenido
            .texto
                h1 Créditos Película

                p
                    b Una producción de / Produced by:
                    br
                    | Folks Studio

                p
                    b Dirección / Director:
                    br
                    | Daniela Uribe.

                p
                    b Producción / Producer:
                    br
                    | Daniela Uribe, Fernando de la Rosa, Alfonso Duarte.

                p
                    b Fotografía / Cinematography:
                    br
                    | Daniela Uribe, Fernando de la Rosa.

                p
                    b Edición / Editing:
                    br
                    | Daniela Uribe, Fernando de la Rosa, Priscila Sánchez.

                p
                    b Sonido / Sound:
                    br
                    | Bernardo Chávez, Christopher Hofmann, Alfonso Duarte.

                p
                    b Diseño Sonoro / Sound Designer:
                    br
                    | Matías Barberis, Gabriel Villegas.

                p
                    b Música / Music:
                    br
                    | Xareni Iizárraga, Fernando Burgos.

                p
                    b Ilustración / Illustration:
                    br
                    | Héctor López.

                p
                    b Animación / Animation:
                    br
                    | Luis Daniel Trujillo.

                p
                    b Corrección de Color / Colorist:
                    br
                    | Alexis Rodil.

                p
                    b Compañía Productora / Production Company:
                    br
                    | Folks Studio.

                p
                    b Protagonistas / Starring:
                    br
                    | Adriana Sales, Genaro Díaz, Indira Vázquez, Diego

            .imagen
                img(src="imagenes/creditos-pelicula/creditos-pelicula-uno.jpg" alt="Créditos película")
                img(src="imagenes/creditos-pelicula/creditos-pelicula-dos.jpg" alt="Créditos película")
