extends layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'
    - claseEspecial = 'acerca-de-ermitanos'

block content
    main.acerca-de-ermitanos.creditos-webdoc
        .contenido
            .texto
                h1 Créditos WebDoc

                p
                    b Dirección y producción / Directed & Produced by:
                    br
                    | Daniela Uribe.
                p
                    b Dirección Creativa y Diseño / Creative Direction & Design:
                    br
                    | Tonik Uvalle.

                p
                    b Guión y experiencia interactiva / Interactive Experience:
                    br
                    | Tonik Uvalle y Daniela Uribe.

                p
                    b Desarrollo web / Developer:
                    br
                    | Luis Gerardo Ramírez Carmona.

                p
                    b Animación / Animation:
                    br
                    | Brand Silva.

                p
                    b Con Ilustraciones de / With drawings of:
                    br
                    | Héctor López, Paulyna Ardilla, Donají Marcial, Brand Silva, Elena Zolotareva, Reez Ruiz.

                p
                    b Contenidos y corrección de estilo / Content:
                    br
                    | Erika Uribe.

                p
                    b Diseño sonoro/ Sound Designer:
                    br
                    | Miguel Ángel Madrigal Chiu.

                p
                    b Música / Music:
                    br
                    | Burghost, Xareni Lizárraga, Un Rêve

                p
                    b Video 360 / 360 Video:
                    br
                    | Aldo Rodrigo Hernández.

                p
                    b Edición y Corrección de Color / Editor & Color Grading:
                    br
                    | Alfonso Duarte.

                p
                    b Fotografía de los videos de los Ermitaños / Photography in the Hermits videoclips:
                    br
                    | Fernando de la Rosa y Daniela Uribe.

                p
                    b Fotografía de los videos de los especialistas / Photography in the interviews of specialists:
                    br
                    | Fernando de la Rosa.

                p
                    b Sonido directo en los videos de los Ermitaños / Sound in videos of The Hermits:
                    br
                    | Bernardo Chávez, Alfonso Duarte.

            .imagen
                .personaje
                    img(src="imagenes/creditos-webdoc/daniela-uribe-olivares.jpg" alt="Daniela Uribe Olivares")
                    p Daniela Uribe Olivares

                .personaje
                    img(src="imagenes/creditos-webdoc/tonik-uvalle.jpg" alt="Tonik Uvalle")
                    p Tonik Uvalle

                .personaje
                    img(src="imagenes/creditos-webdoc/miguel-angel-madrigal.jpg" alt="Miguel Ángel Madrigal")
                    p Miguel Ángel Madrigal

                .personaje
                    img(src="imagenes/creditos-webdoc/paulyna-ardilla.jpg" alt="Paulyna Ardilla")
                    p Paulyna Ardilla

                .personaje
                    img(src="imagenes/creditos-webdoc/miguel-angel-madrigal-dos.jpg" alt="Miguel Ángel Madrigal")
                    p Miguel Ángel Madrigal

                .personaje
                    img(src="imagenes/creditos-webdoc/luz-abril-rico.jpg" alt="Luz Abril Rico")
                    p Luz Abril Rico
