extends layout/template

append config
    - pageTitle = 'Descansar'
    - pagina = 'descansar'
    - claseEspecial = 'descansar'

block content
    main.descansar
        #animacionDescansar.animacion
            .puerta
                audio
                    source(src="audio/descansar/puerta.wav" type="audio/wav")

            .celular
                audio
                    source(src="audio/descansar/chat.wav" type="audio/wav")

            .gato
                audio
                    source(src="audio/descansar/gato.wav" type="audio/wav")

            .bano
                audio
                    source(src="audio/descansar/bano.wav" type="audio/wav")

block scripts
    script(src="js/lottie.min.js")
