extends layout/template

append config
    - pageTitle = 'Elevador'
    - pagina = 'elevador'
    - claseEspecial = 'elevador'

block estilosAdicionales
    link(href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css")

block content
    main.elevador
        #fullpage
            section.section.plantaBaja(data-anchor="piso0")
                .menu-principal
                    .puerta
                        .info.info-0.active
                            h1
                                strong Elegiste explorar
                                |  el edificio
                            p
                                strong Es momento de decidir qué parte del Ermita quieres conocer:
                                |  su historia, al arquitecto que lo diseñó, su estructura física y los sonidos que guarda, el barrio donde se encuentra o las anécdotas de quienes hoy lo habitan.

                        .info.info-1
                            h2 Piso
                                br
                                span 1

                            h3 La Historia
                                br
                                | 1868 - 2020

                        .info.info-2
                            h2 Piso
                                br
                                span 2

                            h3 Juan Segura,
                                br
                                | el arquitecto

                        .info.info-3
                            h2 Piso
                                br
                                span 3

                            h3 Explora el Ermita

                        .info.info-4
                            h2 Piso
                                br
                                span 4

                            h3 Barrio de
                                br
                                | Tacubaya

                        .info.info-5
                            h2 Piso
                                br
                                span 5

                            h3 Universo Ermita

                        .info.info-6
                            h2 Piso
                                br
                                span 6

                            h3 Archivo digítal
                                br
                                | Ermitaños

                    .puerta-principal
                        ul#menuElevador
                            li(data-menuanchor="piso1" class="active"): a(data-contenido="info-1" href="#piso1"): span Piso 1
                            li(data-menuanchor="piso2"): a(data-contenido="info-2" href="#piso2"): span Piso 2
                            li(data-menuanchor="piso3"): a(data-contenido="info-3" href="#piso3"): span Piso 3
                            li(data-menuanchor="piso4"): a(data-contenido="info-4" href="#piso4"): span Piso 4
                            li(data-menuanchor="piso5"): a(data-contenido="info-5" href="#piso5"): span Piso 5
                            li(data-menuanchor="piso6"): a(data-contenido="info-6" href="#piso6"): span Piso 6
                            li(data-menuanchor="plantaBaja"): a(data-contenido="info-0" href="#plantaBaja"): span Planta Baja

                    .puerta
                        .info.info-0.active
                            p En cualquier momento puedes avanzar de un piso a otro o regresar al menú principal.
                                br
                                br
                                | También puedes regresar a la habitación de descanso y chatear con tus vecinos.
                                br
                                br
                                | ¡Tú decides!

                        .info.info-1
                            img(src="imagenes/elevador/piso-1.jpg" alt="Piso 1")

                        .info.info-2
                            img(src="imagenes/elevador/piso-2.jpg" alt="Piso 2")

                        .info.info-3
                            img(src="imagenes/elevador/piso-3.jpg" alt="Piso 3")

                        .info.info-4
                            img(src="imagenes/elevador/piso-4.jpg" alt="Piso 4")

                        .info.info-5
                            img(src="imagenes/elevador/piso-5.jpg" alt="Piso 5")

                        .info.info-6
                            img(src="imagenes/elevador/piso-6.jpg" alt="Piso 6")


            section.section.piso1(data-anchor="piso1")
                .contenidoVideo
                    video#introAnimado(autoplay preload loop buffered muted)
                        //source(src="video/anuncio/anuncio.mp4" type="video/mp4")
                        source(src="video/intro-animado/intro-animado.webm" type="video/webm")

                #anos.owl-carousel
                    div.ano
                        a(href="0").circulo
                            img.circle(src="imagenes/elevador/piso-1/1868.png")
                            span 1868

                    div.ano
                        a(href="1").circulo
                            img.circle(src="imagenes/elevador/piso-1/1870.png")
                            span 1870

                    div.ano
                        a(href="2").circulo
                            img.circle(src="imagenes/elevador/piso-1/1872.png")
                            span 1872

                    div.ano
                        a(href="3").circulo
                            img.circle(src="imagenes/elevador/piso-1/1873.png")
                            span 1873

                    div.ano
                        a(href="4").circulo
                            img.circle(src="imagenes/elevador/piso-1/1885.png")
                            span 1885

                    div.ano
                        a(href="5").circulo
                            img.circle(src="imagenes/elevador/piso-1/1898.png")
                            span 1898

                    div.ano
                        a(href="6").circulo
                            img.circle(src="imagenes/elevador/piso-1/1899.png")
                            span 1899

                    div.ano
                        a(href="7").circulo
                            img.circle(src="imagenes/elevador/piso-1/1907.png")
                            span 1907

                    div.ano
                        a(href="8").circulo
                            img.circle(src="imagenes/elevador/piso-1/1913.png")
                            span 1913

                    div.ano
                        a(href="9").circulo
                            img.circle(src="imagenes/elevador/piso-1/1917.png")
                            span 1917

                    div.ano
                        a(href="10").circulo
                            img.circle(src="imagenes/elevador/piso-1/1929.png")
                            span 1929

                    div.ano
                        a(href="11").circulo
                            img.circle(src="imagenes/elevador/piso-1/1930.png")
                            span 1930

                    div.ano
                        a(href="12").circulo
                            img.circle(src="imagenes/elevador/piso-1/1933.png")
                            span 1933

                    div.ano
                        a(href="13").circulo
                            img.circle(src="imagenes/elevador/piso-1/1935.png")
                            span 1935

                    div.ano
                        a(href="14").circulo
                            img.circle(src="imagenes/elevador/piso-1/1936.png")
                            span 1936

                    div.ano
                        a(href="15").circulo
                            img.circle(src="imagenes/elevador/piso-1/1940.png")
                            span 1940

                    div.ano
                        a(href="16").circulo
                            img.circle(src="imagenes/elevador/piso-1/1960.png")
                            span 1960

                    div.ano
                        a(href="17").circulo
                            img.circle(src="imagenes/elevador/piso-1/2020.png")
                            span 2020

            .section.piso2(data-anchor="piso2")
                .contenidoVideo
                    video#juanSegura(loop autoplay)
                        source(data-src="video/elevador/juan-segura.mp4" type="video/mp4")
                        source(data-src="video/intro-elevador/intro-elevador.webm" type="video/webm")

            section.section.piso3(data-anchor="piso3")
                #container
                #primerVideo(style="display: none")
                    iframe(src="https://player.vimeo.com/video/322709467" width="640" height="346" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
                #segundoVideo(style="display: none")
                    iframe(src="https://player.vimeo.com/video/f683e1d95c" width="640" height="346" frameborder="0" allow="autoplay; fullscreen" allowfullscreen)

                a.btn.waves-effect.waves-light#verMapaPisos(href="#!") Ver mapa<br>del Edificio Ermita

                .contenidoPisos
                    a.btn.waves-effect.waves-light#ocultarMapaPisos(href="#!") Regresar a<br>Video 360
                    h3 ¿Quieres conocer el interior de los departamentos?

                    .informacion
                        .texto
                            p Ubicación: En el entronque de las calles Progreso, Avenida Jalisco y Avenida Revolución.

                            p Institución promotora: Fundación Mier y Pesado

                            p Arquitecto: Juan Segura
                                br
                                | Encargo de anteproyecto: 1929.
                                br
                                | Construcción: Entre 1930 y 1932.
                                br
                                | Superficie: 1390 m2

                            p Uso: Mixto
                                br
                                | Número de plantas: 8. Planta baja, entre piso, 6 niveles y planta de azotea.
                                br
                                | Locales comerciales: 18
                                br
                                | Cine: 1

                            p Viviendas: 78

                            ul
                                li Vivienda tipo A: 12
                                li Vivienda tipo B: 6
                                li Vivienda tipo C: 60

                        .imagenes
                            a(data-fancybox href="https://vimeo.com/378882759")
                                img(src="imagenes/elevador/piso-3/piso-6.jpg" alt="Piso 6")

                            a(data-fancybox href="https://vimeo.com/378883169")
                                img(src="imagenes/elevador/piso-3/piso-5.jpg" alt="Piso 5")

                            a(data-fancybox href="https://vimeo.com/378882280/f10a412885")
                                img(src="imagenes/elevador/piso-3/piso-4.jpg" alt="Piso 4")

                            img(src="imagenes/elevador/piso-3/piso-3.jpg" alt="Piso 3")

                            img(src="imagenes/elevador/piso-3/piso-2.jpg" alt="Piso 2")

                            img(src="imagenes/elevador/piso-3/piso-1.jpg" alt="Piso 1")

            section.section.piso4(data-anchor="piso4")
                .contenido
                    #animacionMapa

                    .punto.punto1.btn-floating.pulse
                        .informacion
                            h5 Casa Luis Barragán.

                            p La luz y el color son las características de este espacio diseñado por el arquitecto Luis Barragán, quien lo construyó en 1948 en el límite del barrio popular Daniel Garza. En 2004, la UNESCO lo reconoció como Patrimonio Cultural de la Humanidad.

                    .punto.punto2.btn-floating.pulse
                        .informacion
                            h5 Luis Buñuel.

                            p El barrio de Tacubaya llegó a la pantalla grande a través de Los Olvidados, de Luis Buñuel. La calle de José G. Covarrubias fue testigo de algunas escenas.

                    .punto.punto3.btn-floating.pulse
                        .informacion
                            h5 Hamburguesas Sotelo.

                            p Dicen que ‘barriga llena, corazón contento’, así que haz una escala para probar las hamburguesas al carbón de puesto que está en la esquina de Avenida Revolución y Avenida Jalisco.

                            p ¡Simplemente deliciosas!

                    .punto.punto4.btn-floating.pulse
                        .informacion
                            h5 Edificio Ermita.

                            p Es de la autoría del arquitecto Juan Segura, quien lo construyó a principios de 1930 por encargo de la Fundación Mier y Pesado. Actualmente es un ícono de la arquitectura art decó. Aquí grabó Alfonso Cuarón su cortometraje ‘Cuarteto para el fin del tiempo’.

                    .punto.punto5.btn-floating.pulse
                        .informacion.audio
                            h5 Bamboo Cycles.

                            p: a(href="https://vimeo.com/388620762/d19335b7bd" target="_blank") https://vimeo.com/388620762/d19335b7bd

                            svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                g
                                    path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                    path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                    path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                    .punto.punto6.btn-floating.pulse
                        .informacion
                            h5 Parque Lira.

                            p En 1918 fue la residencia del filántropo y empresario textil Vicente Lira Mora. Actualmente es punto de reunión de paseantes y lugareños que disfrutan sus bellos jardines, su capilla y hasta de hacerle al ‘skate man’ en su pista para patinetas.

                    .punto.punto7.btn-floating.pulse
                        .informacion
                            h5 Comida China.

                            p En el corredor Revolución, en el mismo predio que alguna vez fue la residencia de los Mier y Pesado, se encuentran dos restaurantes de comida china donde puedes tomar un café o comer en familia. ¿Recuerdas quién de los Ermitaños tiene en su refri publicidad de este lugar?

                    .punto.punto8.btn-floating.pulse
                        .informacion
                            h5 Casa de la Bola.

                            p Esta casona -que hoy es un museo- fue propiedad de Antonio Haghenbeck, filántropo y coleccionista de obras de arte, quien nació y murió en Tacubaya. Puedes visitarla y conocer su colección de objetos decorativos procedentes de diversas partes del mundo.

                    .punto.punto9.btn-floating.pulse
                        .informacion
                            h5 Edificio Isabel.

                            p Se edificó en 1929 en la parte sur del predio del matrimonio Mier y Pesado. El arquitecto Juan Segura lo diseñó como un conjunto habitacional de uso mixto.

                    .punto.punto10.btn-floating.pulse
                        .informacion
                            h5 Mercado Cartagena.

                            p Fue creado en 1957 en el corazón de Tacubaya bajo el nombre de Mercado Peña Manterola. Originalmente se centraba en la venta de alimentos, pero ahora también hay estéticas, negocios de reparación de celulares y puestos de ropa. Si pasas por ahí, cómete una ‘pancita’ o unas flautas.

                            p ¡Lo mejor del lugar!

                    .punto.punto11.btn-floating.pulse
                        .informacion
                            h5 Plaza Charles de Gaulle.

                            p Conocida también como  Plaza Catagena, era centro  de reunión social, comercial y de esparcimiento.  Actualmente está llena  de comercios.

                    .punto.punto12.btn-floating.pulse
                        .informacion
                            h5 CETRAM

                            p En este lugar se conectan Metro, autobuses, Metrobús y taxis. Donde ahora se encuentra el acceso a la línea 1 (rosa) antes estaba el portal de la Plaza Cartagena.

                    .punto.punto13.btn-floating.pulse
                        .informacion
                            h5 Tortas Chatín.

                            p Son las típicas tortas del barrio, con más de 40 años de historia. Sus ingredientes y sabor atraen a lugareños y extraños. ¿Qué tal una de pierna con quesillo o una de milanesa de res? ¡Tú eliges!

                    .punto.punto14.btn-floating.pulse
                        .informacion
                            h5 Rufián.

                            p Conoce la historia de Rufián en el chat.

                    .punto.punto15.btn-floating.pulse
                        .informacion
                            h5 Mercado Becerra.

                            p En los años 50 era un rastro. Se encuentra sobre Avenida Jalisco y se caracteriza por tener tres niveles. Como dato curioso debes saber que aquí se desempeñó como comerciante Gabriel Siria Levario, mejor conocido como Javier Solís, uno de cantantes más famosos de la música mexicana.

                    .punto.punto16.btn-floating.pulse
                        .informacion
                            h5 Tacos El Borrego Viudo.

                            p Quién no ha probado estos tacos después de una noche de fiesta, no conoce la Ciudad de México.

                            p Se encuentran sobre Avenida Revolución, en Tacubaya, y su principal característica es la rapidez del servicio y el sabor. Pastor, cabeza y lengua son sus especialidades.

                    .punto.punto17.btn-floating.pulse
                        .informacion
                            h5 Gimnasio de Box Lupita.

                            p Abrió sus puertas hace más de 50 años. Dicen que Julio César Chávez entrenaba en este lugar cuando quería pasar de incógnito. El ‘Finito López’ también llegó a boxear aquí.

                    .punto.punto18.btn-floating.pulse
                        .informacion
                            h5 Los Panchitos.

                            p En los años 80, Tacubaya fue punto de encuentro de los chavos de la banda Los Panchitos, un grupo de jóvenes que provenían de familias disfuncionales y se dedicaban a atracar a las tienditas y transeúntes.

            section.section.piso5(data-anchor="piso5")
                audio#audioPiso5(loop)
                    source(src="audio/elevador/piso-5/aliens.wav" type="audio/wav")

                .contenidoPiso5
                    #animacionPiso5

                a.btn.waves-effect.waves-light.botonPrincipalPiso5#mostrarMapaSonoro(href="#!")
                    img(src="imagenes/elevador/piso-5/bocina-1.png" alt="bocina")
                    | Mapa sonoro ermita
                    img(src="imagenes/elevador/piso-5/bocina-2.png" alt="bocina")

                .mapaSonoro#mapaSonoro
                    a.btn.waves-effect.waves-light.botonPrincipalPiso5#ocultarMapaSonoro(href="#!") REGRESA AL ERMITA IMAGINARIO
                    .contenidoMapaSonoro
                        img(src="imagenes/elevador/piso-5/mapa-sonoro.jpg" alt="Mapa Sonoro")

                        .punto.punto1.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Azotea

                                audio
                                    source(src="audio/elevador/piso-5/azotea.wav" type="audio/wav")

                        .punto.punto2.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Patio Ermita de Día

                                audio
                                    source(src="audio/elevador/piso-5/patio-manana.wav" type="audio/wav")

                        .punto.punto3.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Patio Ermita de Noche

                                audio
                                    source(src="audio/elevador/piso-5/patio-noche.wav" type="audio/wav")

                        .punto.punto4.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Elevador

                                audio
                                    source(src="audio/elevador/piso-5/elevador.wav" type="audio/wav")

                        .punto.punto5.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Escaleras

                                audio
                                    source(src="audio/elevador/piso-5/escaleras.wav" type="audio/wav")

                        .punto.punto6.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Departamento

                                audio
                                    source(src="audio/elevador/piso-5/escaleras.wav" type="audio/wav")

                        .punto.punto7.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Esquina Jalisco y Revolución

                                audio
                                    source(src="audio/elevador/piso-5/esquina.wav" type="audio/wav")

                        .punto.punto8.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Restaurante Tic Tac

                                audio
                                    source(src="audio/elevador/piso-5/restaurant.wav" type="audio/wav")

                        .punto.punto9.btn-floating.pulse
                            .informacion.audio
                                svg.audio(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.47491 33.13496")
                                    g
                                        path(d="M19.37242,0A2.20215,2.20215,0,0,0,18.235.31982a.66887.66887,0,0,0-.09364.067L8.38026,8.6439H.72033A.71967.71967,0,0,0,0,9.36423V23.0504a.71967.71967,0,0,0,.72033.72033H8.363l9.75537,8.958a.70247.70247,0,0,0,.116.08644,2.20206,2.20206,0,0,0,1.13739.31983A2.25806,2.25806,0,0,0,21.609,30.86161V2.27335A2.25744,2.25744,0,0,0,19.37242,0ZM9.36423,22.33008a.72033.72033,0,0,1-1.44065,0v-2.8813a.72033.72033,0,1,1,1.44065,0Zm0-9.36423a.72033.72033,0,1,1-1.44065,0v-2.8813a.72033.72033,0,0,1,1.44065,0Z")
                                        path(d="M27.94645,2.91948a.72073.72073,0,0,0-.46317,1.365,12.59271,12.59271,0,0,1,.01657,23.84781.72062.72062,0,0,0,.23267,1.40247.71017.71017,0,0,0,.23266-.0389,14.03439,14.03439,0,0,0-.01873-26.57639Z")
                                        path(d="M30.99271,16.20732a9.76755,9.76755,0,0,0-7.02245-9.33686.72042.72042,0,0,0-.39906,1.38447,8.27706,8.27706,0,0,1,0,15.90478.72036.72036,0,0,0,.19953,1.41255.73311.73311,0,0,0,.19953-.02809A9.76667,9.76667,0,0,0,30.99271,16.20732Z")

                                h5 Entrada del Teatro

                                audio
                                    source(src="audio/elevador/piso-5/teatro.wav" type="audio/wav")



            section.section.piso6(data-anchor="piso6")
                script(src="https://assets.juicer.io/embed.js")
                ul.juicer-feed(data-feed-id="ermitanosdocumental")

        ul#menuPisos.menuPisos
            li
                a#pisoAnterior(href="#!")
                    span
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.1 6.67")
                            path(d="M.1,5.8,4.1.23a.55.55,0,0,1,.9,0L9,5.8a.55.55,0,0,1-.45.87h-8A.55.55,0,0,1,.1,5.8Z")

            li.lector#lector: span Piso 1

            li
                a#pisoSiguiente(href="#!")
                    span
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.1 6.67")
                            path(d="M.1,5.8,4.1.23a.55.55,0,0,1,.9,0L9,5.8a.55.55,0,0,1-.45.87h-8A.55.55,0,0,1,.1,5.8Z")

        #modalMapaInteractivo.modal.modalMapaInteractivo
            .modal-content
                #presentacion.presentacion.owl-carousel
                    div.paso.paso-1
                        h2 ¡Vaya, vaya, Tacubaya.
                            br
                            | Si no conoce, mejor ni vaya!

                        p Ya  eres parte de uno de los barrios más antiguos del antes
                            br
                            | ‘defectuoso’ y ahora Ciudad de México.

                        p Te presentamos un mapa interactivo para que conozcas
                            br
                            | algunos datos curiosos / históricos del vecindario.

                    div.paso.paso-2
                        h2 ¿Has escuchado
                            br
                            | el mito de Los Panchitos?

                        p Dicen que andan merodeando por el barrio de Tacubaya.
                            br
                            | Encuéntralos.

                    div.paso.paso-3
                        h2 ¿Sabías que este barrio ha sido
                            br
                            | escenario de algunas películas?

                        p Descubre qué famosos cineastas
                            br
                            | filmaron por aquí y en qué lugar.

                    div.paso.paso-4
                        p De aquí salió una de las voces más reconocidas de
                            br
                            | México y uno de los boxeadores de peso ligero más
                            br
                            | famosos a nivel mundial.

                        a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="#!") Comenzar

        #modal360.modal.modalMapaInteractivo.modal360
            .modal-content
                #modal360slider.presentacion.owl-carousel
                    div.paso.paso-1
                        h2 ¡Conoce el edificio Ermita!

                        p Como nuevo inquilino seguramente querrás conocer el espacio
                            br
                            | donde habitas. En esta sección puedes apreciar la arquitectura
                            br
                            | en 360 grados y explorar el lugar.

                    div.paso.paso-2
                        .instruccion
                            img(src="imagenes/elevador/piso-3/instruccion-1.svg" alt="Instruccion 1")

                            p.center-align Da clic con el cursor y,
                                br
                                | sin soltar, arrastra la pantalla para
                                br
                                | ver otros ángulos.

                        .instruccion
                            img(src="imagenes/elevador/piso-3/instruccion-2.svg" alt="Instruccion 2")

                            p.center-align Para avanzar en los espacios
                                br
                                | busca el tooltip

                    div.paso.paso-4
                        a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="#!") Comenzar Recorrido

        #modalpiso5.modal.modalMapaInteractivo.modal360
            .modal-content
                #modalPiso5slider.presentacion.owl-carousel
                    div.paso.paso-1
                        h2 Conoce el Ermita Imaginario

                        p Una interpretación del Ermita y sus alrededor en un mundo fantastico.

                    div.paso.paso-2
                        .instruccion
                            img(src="imagenes/elevador/piso-5/intruccion-1.png" alt="Instruccion 2")

                            p.center-align Arrastra la imagen
                                br
                                | y explora todo el contenido

                    div.paso.paso-4
                        p.center-align También puedes eplorar el mundo
                            br
                            | real, dando clic en el:
                        img(src="imagenes/elevador/piso-5/instruccion-2.png" alt="instruccion 2" style="width: 37px")
                        p.center-align MAPA SONORO ERMITA
                        a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="#!") Comenzar

        #modalAnos.modal.modalAnos
            .modal-content
                a.btn.waves-effect.waves-light.modal-close(href="#!") Cerrar

                ul#menuAnosModal.menuPisos
                    li
                        a#anoAnteriorModal.disabled(href="#!")
                            span
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.1 6.67")
                                    path(d="M.1,5.8,4.1.23a.55.55,0,0,1,.9,0L9,5.8a.55.55,0,0,1-.45.87h-8A.55.55,0,0,1,.1,5.8Z")

                    li.lector#contadorAnos: span 1868

                    li
                        a#anoSiguienteModal(href="#!")
                            span
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.1 6.67")
                                    path(d="M.1,5.8,4.1.23a.55.55,0,0,1,.9,0L9,5.8a.55.55,0,0,1-.45.87h-8A.55.55,0,0,1,.1,5.8Z")

                #anosInformacion.owl-carousel
                    div.anoInformacion.ano1868
                        .imagen
                            #animacion1868

                            p Isabel Pesado y Antonio de Mier y Celis.
                        .informacion
                            h3 1868
                                br
                                | LOS MIER y PESADO.

                            p Antonio de Mier e Isabel Pesado fueron una de las parejas más acaudaladas en México del Siglo XIX. En 1868 contrajeron matrimonio asumiendo el título de Duques de Mier. Ambos provenían de familias adineradas y con su unión lograron consolidar una de las fortunas más grandes del porfiriato.

                            p Al poco tiempo de casados, la pareja procreó al pequeño Antonio Gregorio, quien murió después de nacer, en 1869.

                    div.anoInformacion.ano1870
                        .imagen
                            #animacion1870

                        .informacion
                            h3 1870
                                br
                                | Un viaje para olvidar

                            p Isabel Pesado no soportaba la idea de haber perdido al pequeño Antonio Gregorio, por lo que en compañía de su esposo -Antonio de Mier- emprendió un largo viaje en barco que inició en en el puerto de Veracruz.

                            p El itinerario duró tres años y contempló más de 80 ciudades del Caribe, Europa, Rusia y Estados Unidos.¹

                            p: small 1 “Apuntes de viaje de México a Europa en los años de 1870-1871 y 1872”, Memorias de Isabel Pesado”.

                    div.anoInformacion.ano1872
                        .imagen
                            #animacion1872

                            p Portal de acceso a la casa del matrimonio Mier y Pesado,
                                br
                                | ubicada en Tacubaya.

                        .informacion
                            h3 1872
                                br
                                | LA CASA DE TACUBAYA

                            p Antonio de Mier e Isabel Pesado hicieron una pausa en su viaje para regresar a México; el Duque deseaba comprar una casa de descanso para su esposa y encontró la propiedad de sus sueños en la Villa de Tacubaya, en la Ciudad de México.

                            p La finca era imponente: tenía una arquitectura al estilo romano con balcones y un jardín con quioscos, fuentes, capilla y hasta lago. ²

                            p A la entrada había un grandioso portal que tenía grabado el apellido “Mier”, diseñado por el arquitecto Ramón Agea. Los lugareños lo llamaban el “Arco Triunfal”.

                            p A pesar de la belleza arquitectónica y amplios jardines de la finca, los Mier y Pesado solo habitaban la casa seis meses al año.

                            p: small 2 “La historia de la casa de la familia Mier”, un ícono de Tacubaya. MXCITY, Guía Insider”.

                    div.anoInformacion.ano1873
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1873.mp4" type="video/mp4")

                            p Vista sobre el Arzobispado de Tacubaya, de Carl Nebel. Ca. 1836.

                        .informacion
                            h3 1873
                                br
                                | TACUBAYA

                            p Tacubaya, con sus paisajes idílicos y frondosos, era un lugar ideal para el descanso en la Ciudad de México. Aquí se localizaban grandes casas y haciendas de ladrillo construidas por las familias acaudaladas de México.

                            p Era una zona comercial, de acueductos, molinos, iglesias y conventos donde resaltaba la majestuosidad de la casa de los Mier y Pesado.³

                            p: small 3  “Quintas de Tacubaya". Delegación Miguel Hidalgo. 2011”.

                    div.anoInformacion.ano1885
                        .imagen
                            #animacion1885

                        .informacion
                            h3 1885
                                br
                                | Antonio de mier
                                br
                                | se enferma

                            p De manera repentina, la salud de Antonio de Mier comenzó a decaer: la ciencia de la época no encontraba una respuesta a sus dolencias y su salud mermaba día con día en un México que vivía un final de siglo marcado por la viruela, el sarampión, la tosferina, la varicela y las paperas; la difteria, la fiebre escarlatina y el cólera morbus alimentados por un entorno marcado por la pobreza y la desigualdad social. ⁴

                            p Uno sus médicos le habló de los beneficios de las aguas termales, por lo que el Duque de Mier y su esposa emprendieron un nuevo viaje hacia a Europa en busca de acceder a esa terapia.

                            p Finalmente  la encontraron en París, ciudad donde pasarían sus últimos años juntos.

                            p: small 4  “Médicos y farmacéuticos mexicanos en el siglo XIX”, Arqueología Mexicana”.

                    div.anoInformacion.ano1898
                        .imagen
                            #animacion1898

                            p Juan Segura, de niño.

                        .informacion
                            h3 1898
                                br
                                | JUAN SEGURA

                            p En la víspera de un siglo XX que revolucionó las ideas políticas, sociales y culturales y brillaron inventos como el aeroplano, la penicilina y la televisión a color nació Juan Segura, sobrino nieto de Isabel Pesado.

                            p Con el paso del tiempo, Juan se convirtió en un afamado arquitecto precursor del Art Decò en México, teniendo al Edificio Ermita como una de sus principales creaciones.

                            p Juan fue hijo del doctor Joaquín Segura y Pesado, sobrino de Isabel Pesado de Mier, quien además fue uno de los primeros homeópatas en el país; en 1893 cofundó el primer hospital homeopático del país y en 1895 creó la Escuela de Medicina Homepática.

                    div.anoInformacion.ano1899
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1899.mp4" type="video/mp4")

                        .informacion
                            h3 1899
                                br
                                | Muere antonio de mier

                            p Tras una larga enfermedad, Antonio de Mier murió en París, donde justo una década antes se inaguraba la Torre Eiffel en el marco de la Feria Mundial de la Exposición Universal y de la conmemoración del centenario de la Revolución Francesa.

                            p El Duque de Mier dejó todos sus bienes y su fortuna a su amada esposa Isabel Pesado.

                    div.anoInformacion.ano1907
                        .imagen
                            #animacion1907

                        .informacion
                            h3 1907
                                br
                                | el testamento

                            p Isabel Pesado, quien siempre se caracterizó por su vocación altruista, estableció que su fortuna se usara para crear la Fundación Mier y Pesado, en memoria de su esposo e hijo.

                            p Para ello dictó un testamento en el que estableció la creación de la Fundación para proteger a los más vulnerables mediante la construcción de asilos para ancianos y escuelas para niños.

                    div.anoInformacion.ano1913
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1913.mp4" type="video/mp4")

                        .informacion
                            h3 1913
                                br
                                | MUERE ISABEL PESADO

                            p Justo 13 años después del fallecimiento del Duque de Mier, murió Isabel Pesado dejando una cuantiosa fortuna y la instrucción de crear la Fundación Mier y Pesado.

                            p Fue reconocida como una de las mujeres más influyentes del siglo XIX y XX gracias a su actividad filantrópica y literaria.

                    div.anoInformacion.ano1917
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1917.mp4" type="video/mp4")

                        .informacion
                            h3 1917
                                br
                                | LA FUNDACIÓN

                            p En plena efervescencia política por la Revolución Mexicana -que concluría en 1917 con la Promulgación de la Constitución- surgió la Fundación Mier y Pesado para ayudar a niños y ancianos.

                            P Entre sus obras destaca la construcción de escuelas, orfanatos y hogares para ancianos financiados y sostenidos gracias a un modelo basado en la edificación de inmuebles para alquiler.

                    div.anoInformacion.ano1929
                        .imagen
                            #animacion1929

                            p Representación de anteproyecto de Juan Segura. 1929.

                        .informacion
                            h3 1929
                                br
                                | EL ARQUITECTO

                            p En plena efervescencia del Art Decó en México, el arquitecto Juan Segura comenzó a trabajar para la Fundación Mier y Pesado en 1926.

                            P Su primer proyecto fue el Conjunto Isabel, el cual terminó en 1929; un edificio plurifuncional ubicado en lado sur del terreno de los Mier y Pesado, en Tacubaya. La construcción tenía departamentos y locales comerciales.

                            P Consciente de su talento, la Fundación le encargó un anteproyecto arquitectónico de edificio que fuera redituable, ubicado en el mismo terreno. Dicho edificio es lo que hoy conocemos como Edificio Ermita.

                    div.anoInformacion.ano1930
                        .imagen
                            #animacion1930

                            p Demolición del famoso portal de los Mier.

                        .informacion
                            h3 1930
                                br
                                | INICIA LA CONSTRUCCIÓN

                            p Influenciado por la corriente del Art Decò, el arquitecto Juan Segura inició la construcción del emblemático edificio Ermita, ubicado entre las avenidas Revolución y Jalisco, y la calle de Progreso, en la colonia Tacubaya, en la Ciudad de México. ⁵

                            p La edificación se realizó en un terreno triangular de 1,400 metros cuadrados, donde antiguamente estaba a casa de sus tíos abuelos, los Duques de Mier.

                            p: small 5 “Generosa Fundación, La Jornada; domingo 15 d abril de 2018.”.

                    div.anoInformacion.ano1933
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1933.webm" type="video/webm")

                            p Construcción del Edificio Ermita.

                        .informacion
                            h3 1933
                                br
                                | edificio ermita

                            p Al cabo de tres años, Juan Segura terminó la construcción del Edificio Ermita, integrado por 12 departamentos familiares y 66 habitaciones independientes. Pensando en la comodidad y diversión de sus habitantes, el arquitecto lo diseñó con un cine para 3,000 espectadores y 18 locales comerciales.

                            p Aunque todo parecía perfecto, de último momento y a petición de la Fundación, Juan Segura tuvo que añadir cocina a los 66 departamentos unipersonales, pues al principio carecían de una.⁶

                            p La obra se aprovechó para techar el hall con un vitral milticolor que cubría el patio.

                            p: small 6. Análisis Celular. Edificio Ermita. UNAM. 1984.

                    div.anoInformacion.ano1935
                        .imagen
                            .contenidoVideo
                                video(autoplay preload loop buffered muted)
                                    source(src="video/elevador/piso1/1935.webm" type="video/webm")

                        .informacion
                            h3 1935
                                br
                                | Listo para habitar

                            p El Edificio Ermita quedó listo para la renta y la Fundación Mier y Pesado lo anunció en el periódico Excélsior.

                            p Los espacios disponibles para alquiler eran departamentos familiares, departamentos unipersonales, el cine y los almacenes de la planta baja.

                            p El nuevo concepto arquitectónico marcó una nueva pauta para las familias de clase media en México, las cuales habían sido testigos de una turbilencia polìtica y económica que replanteó la vivienda en el país.

                            p Entre 1930 y 1950 la Ciudad de México fue el epicentro de la construcción de grandes edificios; se construyeron los primeros rascacielos y en busca de la modernización se desarrolló una basta arquitectura habitacional.

                    div.anoInformacion.ano1936
                        .imagen
                            #animacion1936

                            p Demolición del famoso portal de los Mier.

                        .informacion
                            h3 1936
                                br
                                | cine hipodromo

                            p El 11 de abril el cine ubicado al interior del Edificio Ermita abrió sus puertas. Originalmente se llamaba “Cine Ermita”, pero el arrendatario del establecimiento le cambió el nombre a “Cine Hipódromo”. Estaba pensado para recibir a 3,000 espectadores.

                            p En la función inaugural se proyectó la película “J’aime Toutes Les Femmes”, con la participación del tenor polaco Jan Kiepura. ⁷

                            p En esa época, las salas de cine en un conjunto habitacional eran excepcionales, por lo que el Edificio Ermita marcó un parteaguas. Actualmente, este modelo arquitectónico de uso mixto es frecuente.

                            p: small 7 Documental "El Triángulo de Tacubaya", México, 2005.

                    div.anoInformacion.ano1940
                        .imagen
                            #animacion1940

                            p Los españoles exiliados residentes del Ermita, hicieron del hall un punto de reunión
                                br
                                | para celebraciones como la de la caída del franquismo.

                        .informacion
                            h3 1940
                                br
                                | EXILIADOS ESPAÑOLES

                            p El Edificio Ermita se convirtió en refugio para exiliados españoles que arribaron a México huyendo del franquismo. ⁸

                            p • En este emblemático coloso de la arquitectura Art Decò, Ramón Mercader -conocido también como Jacques Mornard- fraguó el asesinato de León Trotsky, por encargo de Stalin.

                            p El 20 de agosto, Mercader salió de su oficina en el Edificio Ermita rumbo a Coyoacán para perpetrar el crimen.

                            p: small 8 Ordoñez García , Carlos. Un niño refujiao: una infancia en el Edificio Ermita. México, Ateneo Español de México, 2016, 179 pp.

                    div.anoInformacion.ano1960
                        .imagen
                            #animacion1960

                            p Anuncios en fachada del Edificio Ermita, por orden cronológico:
                                br
                                | Organge Crush, Ca. 1960; Canadá, Ca. 1980; la Coca, Ca. 2000.

                        .informacion
                            h3 1960 - 2000
                                br
                                | EL ERMITA A TRAVES
                                br
                                | DE LOS ANOS

                            p La arquitectura del Edificio Ermita se convirtió en un ícono de la Ciudad.

                            p Desde entonces se podían ver en la fachada los anuncios luminosos de algunas marcas.

                            p La visión del arquitecto Juan Segura se cumplió en su totalidad al construir un edificio vanguardista, funcional y de uso mixto para solucionar las necesidades de la sociedad moderna.

                    div.anoInformacion.ano2020
                        .imagen
                            #animacion2020

                            p: a(href="https://www.instagram.com/ermitanosdocumental" target="_blank") www.instagram.com/ermitanosdocumental

                        .informacion
                            h3 2020
                                br
                                | actualidad

                            p El Edificio Ermita es un inmueble icónico para quienes habitan la Ciudad de México. A 86 años de su construcción sigue cumpliendo su objetivo social al satisfacer la necesidad de vivienda y ser parte de un sistema de ingresos para la beneficencia.

                            p Su distribución, ubicación y configuración ha encontrado un nicho entre los jóvenes que buscan independencia, calidad de vida y hacerse de un espacio habitacional de alquiler de modo transitorio.

                            p La comunidad de arquitectos lo reconoce como un referente en la historia de la arquitectura en México.


block scripts
    script(src="js/fullpage.min.js")
    script(src="js/lottie.min.js")
    script(src="https://pchen66.github.io/js/three/three.min.js")
    script(src="js/panolens.min.js")

block scriptsDespues
    script(src="js/jquery-ui.min.js")
    script(src="js/mapa.js")
