extends layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'
    - claseEspecial = 'home'

block content
    main.home
        #animacion.animacion

        svg.logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 343.89 50')
            g
                path(d='M336.91,23.59,325.65,17.1a7,7,0,0,1-3.24-7.86,6.41,6.41,0,0,1,.34-1A6.83,6.83,0,0,1,326,4.85a7,7,0,0,1,3.13-.74h1.08a7,7,0,0,1,6,3.39l3-1.73A10.41,10.41,0,0,0,330.2.65h-1.08a10.39,10.39,0,0,0-8.56,4.53,10.43,10.43,0,0,0-2.34,19l11.25,6.5a10.57,10.57,0,0,1,3.44,15.22,10.33,10.33,0,0,1-3,.45h-.22a10.6,10.6,0,0,1-8.44-4.26l-2.74,2.1a14.11,14.11,0,0,0,9.57,5.53,14.35,14.35,0,0,0,1.61.09h.15a14.05,14.05,0,0,0,7.07-26.19Z')
                path(d='M29.8,46.32H8.61V33H26.55V29.58H8.61V4.11H29.8V.72H0V49.86H29.8Z')
                path(d='M71.21,15.58A16.2,16.2,0,0,0,55.12.58H45.48v0H42.92v0H37.08V49.71h3.39V33h2.45V49.7h2.56V33h2L60.24,49.71h3.23L50.68,33h2.64L66.09,49.71h4.33l-12.92-17A16.1,16.1,0,0,0,71.21,15.58Zm-23.12,14H45.48V4h9.64a12.77,12.77,0,1,1,0,25.54Z')
                path(d='M84.39,49.7H87V26.37L97,40.42l1.57,2.2,1.57-2.2L110.5,25.87V49.7h2.56l2.3-.06h3.39V0L98.55,28.21,78.57,0V49.71h5.82ZM110.5,17.46v4l-12,16.76L87,22V17.78l11.6,16.35Z')
                rect(x='126.04', y='0.58', width='3.39', height='49.13')
                path(d='M193.77.07,173.64,49.71h3.68l4.33-10.6h2.7L180,49.71h2.76L185.13,44H207.7L210,49.71h3.68ZM183,35.71,193.77,9.24l1.35,3.36-9.39,23.11Zm23.65,5.7h-20.5l.94-2.3h18.64Z')
                polygon(points='254.95 50 254.95 0.65 251.56 0.65 251.56 39.9 220.9 0 220.9 49.71 224.29 49.71 224.29 17.32 249.41 50 252.63 50 224.29 13.12 224.29 10.1 254.95 50')
                path(d='M311.23,25.18A24.53,24.53,0,1,0,286.7,49.71,24.51,24.51,0,0,0,311.23,25.18Zm-25.81,21.1V4.08c.42,0,.85,0,1.28,0s.85,0,1.28,0v42.2c-.43,0-.85,0-1.28,0S285.84,46.3,285.42,46.28Z')
                rect(x='133.03', y='0.56', width='2.56', height='49.14')
                polygon(points='162.38 8.9 162.38 49.7 164.94 49.7 164.94 8.9 173.67 8.9 173.67 0.65 142.86 0.65 142.86 8.9 151.63 8.9 151.63 49.7 154.18 49.7 154.18 8.9 156.57 8.9 156.57 49.71 159.96 49.71 159.96 8.9 162.38 8.9')
                polygon(points='230.34 3.02 246.5 3.02 246.5 0.47 228.29 0.47 230.34 3.02')

        h1.center-align Documental interactivo sobre la vida en el emblemático Edificio Ermita
            br
            | de la Ciudad de México. Explora el edificio, conoce a los  vecinos,
            br
            | vive por un instante al interior de este enigmático lugar.

        a#comenzar.btn.waves-effect.waves-light(href="intro") Comenzar

        .instrucciones
            .instruccion
                .texto
                    p Sitio diseñado para ordenador.
                .imagen
                    img(src="imagenes/home/ordenador.jpg" alt="ordenador")

            .instruccion
                .texto
                    p Se explora mejor con Chrome.
                .imagen
                    img(src="imagenes/home/chrome.jpg" alt="Chrome")

            .instruccion
                .texto
                    p Activa el sonido.
                .imagen
                    img(src="imagenes/home/audio.jpg" alt="sonido")

        p Es un sitio interactivo. Recomendamos tomar unos 15 minutos para explorarlo a fondo. La
            br
            | experiencia completa dura 40 minutos. Puede regresar cuando quieras.

block scripts
    script(src="js/lottie.min.js")
