extends layout/template

append config
    - pageTitle = 'Intro Elevador'
    - pagina = 'intro-elevador'
    - claseEspecial = 'intro-elevador'

block content
    main.intro-elevador
        .contenidoVideo
            video#elevador.responsive-video(autoplay preload buffered muted controls)
                source(src="video/intro-elevador/intro-elevador.mp4" type="video/mp4")
                source(src="video/intro-elevador/intro-elevador.webm" type="video/webm")

block contenidoFooter
    .botones
        a.btn.waves-effect.waves-light#saltarVideo(href="descansar" data-posicion="5") Saltar

block scripts
    script(src="js/lottie.min.js")
