extends layout/template

append config
    - pageTitle = 'Intro'
    - pagina = 'intro'
    - claseEspecial = 'intro'

block content
    main.intro
        .contenidoVideo
            video#intro(autoplay preload buffered muted)
                source(src="video/intro/intro.mp4" type="video/mp4")

        #activarAudio.activarAudio
            img(src="imagenes/activar-audio.jpg" alt="desactivar audio")

    #empezar.modal
        .modal-content
            p ¿Quieres convertirte en un Ermitaño?
                br
                | Renta un minidepartamento para ti solo.

            .botonera
                a.btn.btn-invertido.waves-effect.waves-light(href="anuncio") Si
                a.btn.btn-invertido.waves-effect.waves-light.modal-close(href="http://www.ermitadoc.com/" target="_blank") No

block contenidoFooter
    .botones
        a.btn.waves-effect.waves-light#saltar(href="anuncio") Saltar
