.separador
    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 50.6 11.1')
        rect.separador.principal(x='0.3' y='4.8' width='50' height='2')
        rect.separador(x='4.6' y='0' width='2' height='11')
        rect.separador(x='44.3' y='0' width='2' height='11')
        path.separador.rectangulo(d='M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z')
        path.separador.rectangulo(d='M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z')
